/**
 * MATERIAL STYLE
 * Стиль для неофициального клиента 4PDA
 * Автор: Морфий
*/
.cur,
.mod,
.ex > .block-title {
  opacity: 0.9;
}
/*
 *	DARK-COLOR
*/
*[style*="color:royalblue"] {
  color: #ced8f7 !important;
}
*[style*="color:blue"] {
  color: #9999ff !important;
}
*[style*="color:darkblue"] {
  color: #3f3fff !important;
}
*[style*="color:indigo"] {
  color: #aa35ff !important;
}
*[style*="color:crimson"] {
  color: #ee4062 !important;
}
*[style*="color:red"] {
  color: #ff4242 !important;
}
*[style*="color:darkred"] {
  color: #ff2525 !important;
}
*[style*="color:deeppink"] {
  color: #ff61b6 !important;
}
*[style*="color:purple"] {
  color: #ff3ae6 !important;
}
*[style*="Black"]:not([style*="background"]),
*[style*="black"]:not([style*="background"]),
*[style*="#000000"]:not([style*="background"]),
*[style*="#000"]:not([style*="background"]),
*[style*="background-color:white"] *[style*="color:black"],
*[style*="color:black"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000000"],
*[style*="color:#000000"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000"],
*[style*="color:#000"] *[style*="background-color:white"] {
  color: white !important;
}
HTML {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
HTML body {
  position: relative;
  font-family: 'Roboto';
  margin: 0.5rem 0 0;
  padding: 0.5rem 0 5rem;
  font-size: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  color: white;
  box-sizing: border-box;
  background-color: #141414;
}
HTML body.ongpuimg img,
HTML body.ongpuimg .img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
HTML body ul,
HTML body ol {
  padding-left: 1.5rem;
}
HTML body a {
  cursor: pointer;
  text-decoration: none;
  color: #afd9f9;
}
/*
*	PICTURES SIZE
*/
.post_body img,
#thread_form img,
#main img {
  height: auto;
  width: auto;
  max-width: 100%;
}
/*
*         FONT_SIZE
*/
span[style*="font-size:36pt"] {
  font-size: 3.75rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
span[style*="font-size:24pt"] {
  font-size: 2.55rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
span[style*="font-size:18pt"] {
  font-size: 1.95rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
span[style*="font-size:14pt"] {
  font-size: 1.55rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
span[style*="font-size:12pt"] {
  font-size: 1.35rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
span[style*="font-size:10pt"] {
  font-size: 1.15rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
span[style*="font-size:8pt"] {
  font-size: 0.95rem !important;
  line-heigth: 1.4 !important;
}
span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
/*
*         POST_BLOCK
*/
.post-block {
  display: block;
}
.post-block.quote,
.post-block.code,
.post-block.hidden,
.post-block.spoil {
  display: block;
  padding: 0.5rem 0.625rem;
  margin: 0.5rem 0;
  border-radius: 0.125rem;
}
.post-block.quote > .block-title,
.post-block.code > .block-title,
.post-block.hidden > .block-title,
.post-block.spoil > .block-title {
  font-weight: bold;
  font-style: italic;
}
.post-block.quote > .block-body,
.post-block.code > .block-body,
.post-block.hidden > .block-body,
.post-block.spoil > .block-body {
  margin-top: 0.5rem;
}
.post-block.quote {
  position: relative;
  background: rgba(24, 42, 57, 0.84);
}
.post-block.quote > .block-title {
  color: #b5dcf9;
}
.post-block.quote > .block-title:empty {
  margin-left: 0;
}
.post-block.quote > .block-title:empty:before {
  content: 'Цитата';
}
.post-block.quote > .block-title a[title="Перейти к сообщению"] {
  float: left;
  margin: -0.5rem 0.25rem 0 -0.25rem !important;
  opacity: 0.8;
}
.post-block.quote > .block-title a[title="Перейти к сообщению"]:before {
  background: #b5dcf9;
}
.post-block.quote > .block-title a[title="Ссылка "] {
  margin: 0 0.5rem;
  box-sizing: border-box;
  color: #afd9f9;
  border-bottom: 1px solid #586d7d;
}
.post-block.quote > .block-body {
  color: rgba(241, 249, 255, 0.92);
}
.post-block.code {
  counter-reset: num-line;
  position: relative;
  padding: 0;
  overflow: hidden;
  background: rgba(53, 44, 13, 0.84);
}
.post-block.code .line {
  min-height: 1.375rem;
}
.post-block.code .line:before,
.post-block.code .num-pre {
  counter-increment: num-line;
  content: counter(num-line);
  position: absolute;
  width: 2rem;
  padding: 0 0.5rem 0 0;
  text-align: right;
  font-family: 'Roboto Mono';
  font-size: 0.875rem;
  line-height: 1.375rem;
  white-space: pre;
  color: rgba(248, 228, 158, 0.72);
  -webkit-user-select: none;
}
.post-block.code .line:before {
  left: 0;
}
.post-block.code .num-pre {
  left: 0;
  top: 2.5rem;
  bottom: 0;
}
.post-block.code[wraptext="wrap"] .line:before {
  dispaly: inline-block;
}
.post-block.code[wraptext="wrap"] .num-pre {
  display: none;
}
.post-block.code[wraptext="pre"] .toggle-btn {
  opacity: 0.5;
}
.post-block.code[wraptext="pre"] > .block-body {
  overflow-wrap: normal;
  word-break: normal;
  white-space: pre;
}
.post-block.code[wraptext="pre"] .line:before {
  display: none;
}
.post-block.code[wraptext="pre"] .num-pre {
  display: block;
}
.post-block.code .toggle-btn {
  position: absolute;
  padding: 0.5rem;
  right: 0;
  top: 0;
  cursor: pointer;
}
.post-block.code .toggle-btn span {
  display: none;
  font-weight: bold;
  color: rgba(255, 241, 192, 0.8);
}
.post-block.code .toggle-btn:before {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(material_src/wrap_text.svg), url(../material_src/wrap_text.svg) center no-repeat;
  background-size: 1.5rem;
}
.post-block.code > .block-title {
  margin: 0 3rem 0 0;
  padding: 0.5rem 0.5rem 0.75rem 0.625rem;
  color: rgba(255, 241, 192, 0.8);
}
.post-block.code > .block-title:before {
  content: 'Код';
}
.post-block.code > .block-body {
  font-family: 'Roboto Mono';
  padding: 0;
  margin: 0 0.5rem 0.5rem 2.5rem;
  overflow-x: auto;
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.375rem;
  -webkit-tab-size: 4;
  tab-size: 4;
  color: rgba(255, 248, 222, 0.88);
  background: linear-gradient(rgba(62, 53, 23, 0.8448) 1.375rem, transparent 1.375rem);
  background-size: 2.75rem 2.75rem;
}
.post-block.code.box > .block-title:before {
  content: 'Развернуть Код';
}
.post-block.code.box > .block-body {
  max-height: 9.5rem;
  overflow-y: hidden;
}
.post-block.code.unbox > .block-title:before {
  content: 'Свернуть Код';
}
.post-block.hidden {
  background: rgba(180, 180, 180, 0.15);
}
.post-block.hidden > .block-title {
  color: rgba(252, 252, 252, 0.745);
}
.post-block.hidden > .block-title:before {
  content: 'Скрытый текст: ';
}
.post-block.hidden > .block-title:empty:before {
  content: 'Скрытый текст';
}
.post-block.hidden > .block-body a {
  color: #afd9f9;
}
.post-block.spoil {
  position: relative;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
}
.post-block.spoil .spoil {
  margin: 0.5rem -0.375rem;
}
.post-block.spoil:before,
.poll .hidetop B:before {
  position: absolute;
  left: 0.625rem;
  top: 0.875rem;
  font-size: 1em;
  content: '';
  height: 0.625em;
  width: 0.625em;
  margin: 0 0.75rem 0 0.25rem;
  box-sizing: border-box;
  border-top: 0.125em solid;
  border-left: 0.125em solid;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.post-block.spoil > .block-title {
  padding: 0.5rem 2.25rem 0.5rem;
  font-style: normal;
  min-height: 1.25rem;
  color: white;
  font-size: 1rem;
  overflow: hidden;
}
.post-block.spoil > .block-title .anchor {
  position: absolute;
  right: 0;
  top: 0;
}
.post-block.spoil > .block-title .anchor span {
  display: none;
}
.post-block.spoil > .block-title .anchor:before {
  content: '';
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.5rem;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.25rem;
}
.post-block.spoil > .block-title.empty:after,
.post-block.spoil > .block-title:empty:after {
  position: relative;
  display: inline;
  content: 'Спойлер';
}
.post-block.spoil > .block-title * {
  color: inherit !important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
  font-style: normal !important;
}
.post-block.spoil > .block-body {
  padding: 0.75rem;
  margin: 0;
  box-sizing: border-box;
}
.post-block.spoil > .block-body .spoil_close {
  display: block;
  margin: 1rem 0 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  color: #afd9f9;
  outline: none;
  border: none;
  background: none;
}
.post-block.spoil.close:before,
.poll .hidetop.close B:before {
  -webkit-transform: rotate(-135deg) translate(0.125rem, 0.125rem);
  transform: rotate(-135deg) translate(0.125rem, 0.125rem);
  border-top-color: white;
  border-left-color: white;
}
.post-block.spoil.close > .block-title {
  background: rgba(158, 158, 158, 0.3);
}
.post-block.spoil.close > .block-title .anchor:before {
  background-image: url(material_src/link_white.svg), url(../material_src/link_white.svg);
}
.post-block.spoil.close > .block-body {
  display: none;
}
.post-block.spoil.open:before,
.poll .hidetop.open B:before {
  -webkit-transform: rotate(45deg) translate(0.125rem, 0.125rem);
  transform: rotate(45deg) translate(0.125rem, 0.125rem);
  border-top-color: #999999;
  border-left-color: #999999;
}
.post-block.spoil.open .open {
  background: #000000;
}
.post-block.spoil.open .open .open {
  background: rgba(255, 255, 255, 0.1);
}
.post-block.spoil.open .open .open .open {
  background: #000000;
}
.post-block.spoil.open .open .open .open .open {
  background: rgba(255, 255, 255, 0.1);
}
.post-block.spoil.open .open .open .open .open .open {
  background: #000000;
}
.post-block.spoil.open .open .open .open .open .open .open {
  background: rgba(255, 255, 255, 0.1);
}
.post-block.spoil.open .open .open .open .open .open .open .open {
  background: #000000;
}
.post-block.spoil.open > .block-title {
  color: #999999;
  margin: 0;
}
.post-block.spoil.open > .block-title .anchor:before {
  background-image: url(material_src/link_grey.svg), url(../material_src/link_grey.svg);
}
@media screen and (max-width: 15em) {
  .post-block.spoil:before,
  .poll .hidetop B:before {
    display: none;
  }
  .post-block.spoil > .block-title {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  }
}
/*
*	ADM TAGS
*/
.post-block.cur > .block-title {
  background: #009600;
}
.post-block.cur > .block-body {
  background: rgba(0, 150, 0, 0.07);
}
.post-block.mod > .block-title {
  background: #0096e1;
}
.post-block.mod > .block-body {
  background: rgba(0, 150, 225, 0.07);
}
.post-block.ex > .block-title {
  background: #e14628;
}
.post-block.ex > .block-body {
  background: rgba(225, 70, 40, 0.07);
}
.post-block.cur,
.post-block.mod,
.post-block.ex {
  margin: 1rem 0;
  display: table;
  width: 100%;
  min-height: 5rem;
  overflow: hidden;
  border-radius: 0.125rem;
}
.post-block.cur > .block-title,
.post-block.mod > .block-title,
.post-block.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: #000000;
  width: 4rem;
  text-align: center;
  height: 100%;
  font-size: 3rem;
  border-radius: 0;
}
.post-block.cur > .block-body,
.post-block.mod > .block-body,
.post-block.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem;
  height: 100%;
  margin: 0;
}
@media screen and (max-width: 15em) {
  .post-block.cur > .block-title,
  .post-block.mod > .block-title,
  .post-block.ex > .block-title {
    font-size: 1.5rem;
    font-weight: bold;
    width: 20%;
  }
}
/*
*	PANEL
*/
.panel {
  text-align: center;
}
.panel .navi {
  display: block;
  margin: 0;
  padding: 0;
}
.panel .navi .button {
  display: inline-block;
  padding: 0.75rem 6%;
  margin: 0 -0.1rem;
  vertical-align: middle;
  text-decoration: none !important;
  color: rgba(225, 225, 225, 0.7);
  font-weight: bold;
  text-align: center;
}
.panel .navi .button span {
  text-transform: uppercase;
}
.panel .navi .button.disable {
  color: #2b2b2b;
}
@media screen and (max-width: 15em) {
  .panel .navi .button.page {
    display: block;
    margin: 0;
  }
}
.panel .navi.bottom {
  width: 100%;
}
.panel .topic_title_post {
  margin: 1rem 0;
}
.panel .topic_title_post a {
  display: block;
  padding: 0.7rem 1rem;
  text-decoration: none;
}
.panel .topic_title_post a span {
  color: rgba(225, 225, 225, 0.7);
}
.panel .topic_title_post a span.name {
  display: block;
  font-weight: bold;
}
.panel .topic_title_post a span.comma {
  display: none;
}
.panel.bottom .topic_title_post {
  display: none;
}
.panel .who {
  margin: 1rem 0;
}
.panel .who #viewers,
.panel .who #writers {
  display: inline-block;
  margin: 0;
  padding: 0.7rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(225, 225, 225, 0.7);
  cursor: pointer;
}
/*
*	HIDETOP,
*	HIDEMAIN
*/
.hat {
  background: #000000;
}
.hat .hidetop {
  position: relative;
  padding: 0.375rem;
  text-align: center;
}
.hat .hidetop > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.hat .hidetop b,
.hat .hidetop b:before,
.hat .hidetop b:after {
  pointer-events: none;
}
.hat .hidetop span {
  display: none;
}
@media screen and (min-width: 50em) {
  .post_container .hat .hidetop {
    margin-left: 12rem;
    line-height: 12rem;
  }
  .post_container .hat .hidetop.open {
    line-height: 1.4;
  }
}
.post_container .hat .hidetop B:after {
  content: "ШАПКУ";
}
.post_container .hat .hidetop.close B:before {
  content: 'ПОКАЗАТЬ';
  margin-right: 0.3125rem;
}
.post_container .hat .hidetop.open B:before {
  content: 'СКРЫТЬ';
  margin-right: 0.3125rem;
}
@media screen and (min-width: 50em) {
  .post_container .hat .hidemain .post_body {
    margin-top: 0.75rem;
  }
}
.post_container .hat .hidemain .post-body {
  color: black !important;
}
.poll .hidetop {
  padding: 0.5rem 0;
}
.poll .hidetop.close B:before {
  border-top-color: #999999;
  border-left-color: #999999;
}
.poll .hidetop B:after {
  content: "ОПРОС";
}
/*
*	POLL
*/
.poll {
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.125rem;
  background: #000000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 15em) {
  .poll {
    margin: 0.5rem 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}
.poll .hidemain FORM {
  overflow: hidden;
}
.poll .hidemain FORM .poll_title {
  padding: 0.5rem;
  text-align: center;
}
.poll .hidemain FORM .poll_title span {
  font-size: 1.25rem;
  font-weight: bold;
}
.poll .hidemain FORM .poll_body {
  overflow: hidden;
}
.poll .hidemain FORM .poll_body .poll_theme {
  margin: 0.75rem;
}
.poll .hidemain FORM .poll_body .poll_theme .theme_title {
  margin: 0.5rem 0;
}
.poll .hidemain FORM .poll_body .poll_theme .theme_title span {
  font-weight: bold;
}
@media screen and (min-width: 50em) {
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item {
    display: table;
    width: 100%;
  }
}
.poll .hidemain FORM .poll_body .poll_theme .items .item {
  position: relative;
  display: block;
  padding: 0.5rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item input {
  display: none;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item input + .icon {
  display: inline-block;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  vertical-align: middle;
  overflow: hidden;
  border: 0.125rem solid #808080;
  background: #000000;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .radiobutton + .icon {
  border-radius: 1rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .radiobutton + .icon:before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: #afd9f9;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .radiobutton:checked + .icon {
  border-color: #afd9f9;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .radiobutton:checked + .icon:before {
  -webkit-transform: scale(0.65, 0.65);
  transform: scale(0.65, 0.65);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox + .icon {
  border-radius: 0.125rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox + .icon:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 0.75rem;
  width: 0.375rem;
  border-bottom: 0.15625rem solid #000000;
  border-right: 0.15625rem solid #000000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: rotate(45deg) translate(0.125rem, -0.1875rem) scale(0, 0);
  transform: rotate(45deg) translate(0.125rem, -0.1875rem) scale(0, 0);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox:checked + .icon {
  background: #afd9f9;
  border-color: #afd9f9;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox:checked + .icon:before {
  -webkit-transform: rotate(45deg) translate(0.125rem, -0.1875rem) scale(1, 1);
  transform: rotate(45deg) translate(0.125rem, -0.1875rem) scale(1, 1);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .name {
  vertical-align: middle;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .num_votes {
  position: absolute;
  display: inline-block;
  bottom: 0.625rem;
  left: 0.5rem;
  padding: 0 0.375rem;
  z-index: 99;
  opacity: 0.5;
  color: white;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range {
  position: relative;
  margin-top: 0.25rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range:before {
  content: '';
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 100%;
  border-radius: 0.125rem;
  background: rgba(130, 130, 130, 0.1);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range .range_bar {
  display: block;
  height: 1.5rem;
  border-radius: 0.125rem;
  background: rgba(140, 140, 140, 0.44);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range .value {
  position: absolute;
  right: 0.3125rem;
  margin-top: -1.4rem;
}
@media screen and (min-width: 50em) {
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item {
    display: table;
    padding: 0.5rem;
    width: 98%;
  }
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item .name {
    display: table-cell;
    width: 50%;
  }
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item .num_votes {
    bottom: 50%;
    left: auto;
    margin-bottom: -0.625rem;
  }
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item .range {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}
.poll .hidemain FORM .votes_info {
  margint-top: 0.75rem;
  text-align: center;
}
.poll .hidemain FORM .buttons {
  text-align: center;
  margin: 0.5rem;
  color: #808080;
}
.poll .hidemain FORM .buttons .button {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #afd9f9;
  border: none;
  outline: none;
  background: none;
}
/*
*	POST LIST
*/
.posts_list {
  margin: 1rem 0;
  padding: 0;
}
.posts_list .target_post {
  position: relative;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  line-height: 1.5rem;
  text-align: center;
}
.posts_list .target_post:after {
  content: 'целевое сообщение';
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 0.125rem ;
  padding: 0 0.5rem;
  white-space: nowrap;
  color: #727272;
  background-color: #141414;
}
.posts_list .target_post:before {
  content: '';
  display: block;
  height: 1px;
  position: relative;
  bottom: -1rem;
  background: #3c3c3c;
}
.post_container {
  position: relative;
  clear: both;
  margin: 0.5rem;
  padding: 0.75rem 0.75rem 0;
  border-radius: 0.125rem;
  background: #000000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 98;
}
.post_container.active {
  margin-top: 1rem;
}
@media screen and (max-width: 15em) {
  .post_container {
    margin: 0.5rem 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}
/*
*	POST HEADER
*/
.post_header {
  display: block;
  position: relative;
  min-height: 4rem;
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (min-width: 50em) {
  .post_header {
    float: left;
    padding: 1.5rem 0 0;
    width: 12rem;
    text-align: center;
  }
}
@media screen and (max-width: 15em) {
  .post_header {
    padding: 0;
    text-align: center;
  }
}
.post_header[title*="Просмотреть репутацию"] {
  color: #000 !important;
  text-decoration: underline !important;
}
.post_header .header_wrapper .avatar {
  float: left;
  margin: 0 0.75rem 0 0;
}
@media screen and (min-width: 50em) {
  .post_header .header_wrapper .avatar {
    float: none;
    margin: 0.5rem 0;
    padding: 0;
  }
}
@media screen and (max-width: 15em) {
  .post_header .header_wrapper .avatar {
    float: none;
    margin: 0 0 0.5rem;
  }
}
.post_header .header_wrapper .avatar.disable {
  margin: 0.25rem 0 0;
  overflow: hidden;
}
@media screen and (max-width: 50em) not (max-width: 15em) {
  .post_header .header_wrapper .avatar.disable {
    height: 4rem;
    margin: 0 0.1875rem 0 0;
  }
}
.post_header .header_wrapper .avatar.disable .img {
  display: none;
}
.post_header .header_wrapper .avatar.circle .img {
  overflow: hidden;
  border-radius: 3.75rem;
}
.post_header .header_wrapper .avatar .img {
  display: block;
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  padding: 0;
  border-radius: 0.125rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.post_header .header_wrapper .avatar .img[style*="av.png"] {
  opacity: 0.8;
  background-size: 3rem;
  background-color: rgba(138, 138, 138, 0.3);
}
@media screen and (min-width: 50em) {
}
.post_header .header_wrapper .inf {
  color: #808080;
  line-height: 1.375rem;
}
.post_header .header_wrapper .nick {
  font-size: 1.1875rem;
  color: #bfbfbf;
}
@media screen and (min-width: 50em) {
  .post_header .header_wrapper .nick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.post_header .header_wrapper .nick.online {
  color: #64aa46;
}
.post_header .header_wrapper .nick.curator:before {
  content: 'к';
  display: inline-block;
  position: relative;
  margin-right: 0.25rem;
  font-size: 1rem;
  top: -0.1875rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 0.85em;
  border-radius: 1rem;
  color: #000000;
  background: #64aa46;
}
.post_header .header_wrapper .group {
  position: relative;
  font-size: 0.875rem;
}
.post_header .header_wrapper .group span {
  color: #808080 !important;
  font-weight: normal !important;
}
.post_header .header_wrapper .reputation {
  font-size: 0.875rem;
  font-weight: bold;
}
@media screen and (min-width: 50em) {
  .post_header .header_wrapper .reputation {
    display: block;
  }
}
.post_header .header_wrapper .reputation span:after {
  content: '★';
  margin-left: 0.1875rem;
  display: inline-block;
}
@media screen and (max-width: 50em) not (max-width: 15em) {
  .post_header .header_wrapper .reputation span:after {
    margin-right: 0.1875rem;
  }
}
.post_header .header_wrapper .date-link {
  font-size: 0.875rem;
  color: #808080 !important;
}
@media screen and (max-width: 50em) {
  .post_header .header_wrapper .date-link {
    display: inline-block;
  }
}
.post_header .header_wrapper .date-link .link {
  display: none;
}
.post_header .header_wrapper .menu {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: url(material_src/more.svg) center no-repeat;
  background-size: 1.625rem;
  cursor: pointer;
}
@media screen and (max-width: 50em) {
  .post_header .header_wrapper .menu {
    position: absolute;
    right: -0.625rem;
    top: -0.375rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 15em) {
  .post_header .header_wrapper .menu {
    position: relative;
    margin: 0 auto;
    right: 0;
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.post_header .header_wrapper .menu span {
  display: none;
}
/*
*	POST_BODY
*/
.post_body,
#multimoderation > form {
  position: relative;
  display: block;
  margin: 0.75rem 0;
  font-size: 1rem;
  text-align: left;
  background-clip: padding-box;
}
@media screen and (min-width: 50em) {
  .post_body,
  #multimoderation > form {
    margin: 0 0 0.75rem 13rem;
  }
}
.post_body table[id*="ipb-attach"] *,
#multimoderation > form table[id*="ipb-attach"] * {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.post_body table[id*="ipb-attach"] * .attach,
#multimoderation > form table[id*="ipb-attach"] * .attach {
  margin-bottom: 0.2rem;
}
.post_body img[src*="folder_mime_types"],
#multimoderation > form img[src*="folder_mime_types"],
.post_body img[alt="Прикрепленный файл"],
#multimoderation > form img[alt="Прикрепленный файл"] {
  display: none;
}
.post_body a,
#multimoderation > form a {
  color: #afd9f9;
  text-decoration: none;
}
.post_body a[data-rel="lyteframe"],
#multimoderation > form a[data-rel="lyteframe"],
.post_body a.sp_img,
#multimoderation > form a.sp_img {
  display: inline-block;
  margin: 0.25rem 0;
}
.post_body a[data-rel="lyteframe"]:before,
#multimoderation > form a[data-rel="lyteframe"]:before,
.post_body a.sp_img:before,
#multimoderation > form a.sp_img:before {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  content: '';
  background-image: url(material_src/attach.svg), url(../material_src/attach.svg);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  vertical-align: middle;
}
.post_body font,
#multimoderation > form font {
  font-size: 0.875rem !important;
}
.post_body font > *,
#multimoderation > form font > * {
  opacity: 0.7 !important;
}
.post_body font *,
#multimoderation > form font * {
  font-size: inherit;
  color: #b3b3b3;
}
.post_body font a[title="Перейти к сообщению"],
#multimoderation > form font a[title="Перейти к сообщению"] {
  font-size: 0.625rem;
}
.post_body font a[title="Ссылка"],
#multimoderation > form font a[title="Ссылка"] {
  color: #afd9f9;
}
.post_body .edit,
#multimoderation > form .edit {
  display: block;
  font-size: 0.875rem !important;
  font-style: italic;
  color: #808080;
}
.post_body .post-edit-reason,
#multimoderation > form .post-edit-reason {
  display: inline-block;
  font-size: 0.9375rem;
  margin-top: 0.3rem;
  font-weight: bold;
  color: #808080;
  text-align: left;
}
.post_body span[style="font-family:monospace"],
#multimoderation > form span[style="font-family:monospace"] {
  font-family: 'roboto mono', monospace !important;
  font-size: 1rem;
}
.post_body .post-block.code > .block-body:before,
#multimoderation > form .post-block.code > .block-body:before {
  content: '';
}
a[title="Перейти к сообщению"] {
  position: relative;
  display: inline-block;
  margin: 0 -0.1875rem 0 0;
  top: 0.375rem;
  width: 1.5rem;
  height: 1.5rem;
}
a[title="Перейти к сообщению"] img {
  display: none;
}
a[title="Перейти к сообщению"]:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #afd9f9;
  overflow: visible;
}
a[title="Перейти к сообщению"]:after {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  content: '';
  top: 0.490625rem;
  left: 0.5625rem;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.1875rem solid #000000;
  border-left: 0.1875rem solid #000000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
div[data-post] > a {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0;
}
#preview .post_body {
  margin-left: 0.7rem;
}
/*
 *	POST_FOOTER
*/
.post_footer {
  display: block;
  overflow: hidden;
  position: relative;
  clear: both;
  font-size: 0.625rem;
  margin: 0 -0.25rem;
  padding: 0 0 0.25rem;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
.post_footer ~ br {
  display: none;
}
.post_footer .button {
  display: inline-block;
  height: 1.25rem;
  padding: 0.5rem;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #808080;
  cursor: pointer;
}
.post_footer .button.claim,
.post_footer .button.quote,
.post_footer .button.nick {
  float: left;
}
.post_footer .button.vote {
  color: #000000;
  opacity: 0.7;
}
.post_footer .button.vote.good {
  color: #297b29;
}
.post_footer .button.vote.bad {
  color: #c85b5b;
}
.post_footer .button.edit,
.post_footer .button.delete {
  float: right;
}
@media screen and (max-width: 50em) {
  .post_footer .button.claim,
  .post_footer .button.edit,
  .post_footer .button.delete {
    display: none;
  }
  .post_footer .button.quote {
    float: right;
  }
}
@media screen and (max-width: 24.9375em) {
  .post_footer .button {
    min-width: 2rem;
  }
  .post_footer .button.quote:before {
    content: 'Цит';
  }
  .post_footer .button.nick:before {
    content: 'Ник';
  }
  .post_footer .button.vote span,
  .post_footer .button.nick span,
  .post_footer .button.quote span {
    display: none;
  }
  .post_footer .button.bad:before {
    content: "–";
    font-size: 1.2rem;
  }
  .post_footer .button.good:after {
    content: "+";
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 25em) {
  .post_footer .button.bad {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .post_footer .button.good {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/*
*	SEARCH
*/
.search-results .topic_title_post {
  margin: -0.75rem 0 0 !important;
}
.search-results .topic_title_post a {
  display: block;
  position: relative;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #808080;
  background: #000000;
  border-bottom: 1px solid #191919;
}
.search-results .post_container {
  overflow: hidden;
}
.search-results .post_header {
  min-height: 2.2rem;
  padding-top: 0.75rem;
  text-align: center;
}
.search-results .post_header .date {
  border: none;
  color: #808080;
  font-size: 0.875rem;
}
.search-results .post_header .nick span {
  font-weight: bold;
  font-size: 1.125rem;
}
.search-results .post_body {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 50em) {
  .search-results .post_body {
    margin-bottom: 1rem;
  }
}
.searchlite {
  color: #FF6A00;
}
.bad-search-result {
  position: fixed;
  top: 30%;
  margin: 0 1rem;
  font-size: 1rem;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  background: #000000;
}
.bad-search-result h3 {
  font-size: 1.25rem;
  text-align: left;
  margin: 1.5rem;
}
.bad-search-result span {
  display: block;
  margin: 1.5rem;
  color: #808080;
}
@media screen and (max-width: 11.9375em) {
  .bad-search-result {
    top: 0;
    margin: 0.75rem;
  }
  .bad-search-result h3,
  .bad-search-result span {
    margin: 13%;
  }
}
@media screen and (min-width: 28em) {
  .bad-search-result {
    left: 50%;
    width: 26rem;
    margin: 0 0 0 -13rem;
  }
}
/*
*	QMS
*/
#thread_form {
  margin: 0;
  padding: 0 0.5rem 5rem;
  font-size: 1rem;
}
#thread_form a {
  color: #afd9f9;
}
#thread_form .date {
  display: block;
  margin-top: 2.5rem;
  text-align: center;
}
#thread_form .date .text {
  position: relative;
  bottom: 1.2rem;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-style: italic;
  color: rgba(225, 225, 225, 0.7);
}
#thread_form .list-group-item {
  display: block;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
}
#thread_form .list-group-item .check-item input {
  display: none;
}
#thread_form .list-group-item .check-item .checkbox .icon-check,
#thread_form .list-group-item .check-item .checkbox .icon-uncheck {
  display: none;
}
#thread_form .list-group-item .time {
  display: block;
  margin: 0 0.5rem 0 3rem;
  padding: 0.125rem 0;
  font-size: 0.875rem;
  font-style: italic;
  color: gray;
}
#thread_form .list-group-item .time .read-status.unread.big-dot {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: -0.125em;
  vertical-align: middle;
  border-radius: 100%;
  background: #b53;
}
#thread_form .list-group-item .avatar-wrap {
  position: absolute;
  top: 0.2rem;
  left: 0;
  display: inline-block;
  width: 2rem;
  max-width: 20vw;
  height: 2rem;
  max-height: 20vw;
  line-height: 2rem;
  text-align: center;
}
#thread_form .list-group-item .avatar-wrap.circle {
  border-radius: 2.5rem;
  overflow: hidden;
}
#thread_form .list-group-item .avatar-wrap .avatar {
  display: inline-block;
  max-width: 2rem;
  max-height: 2rem;
  margin: auto;
  border-radius: 0.125rem;
  overflow: hidden;
  background: #141414;
}
#thread_form .list-group-item strong,
#thread_form .list-group-item strong + br {
  display: none;
}
#thread_form .list-group-item .msg-content {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  max-width: 75vw;
  margin: 0 0.5rem 0 3rem;
  font-size: 1rem;
  background: #000000;
  border-radius: 0.5rem;
  -webkit-transition: ease 0.3s background;
  transition: ease 0.3s background;
}
@media screen and (min-width: 50em) {
  #thread_form .list-group-item .msg-content {
    max-width: 60vw;
  }
}
#thread_form .list-group-item .msg-content a[href*="savepice.ru"] {
  display: block;
}
#thread_form .list-group-item .msg-content font {
  font-size: 0.75rem !important;
}
#thread_form .list-group-item .msg-content:before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 0;
  left: -0.5rem;
  box-sizing: border-box;
  border: 0.5rem solid;
  border-color: #000000;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transition: ease 0.3s border-color;
  transition: ease 0.3s border-color;
}
#thread_form .list-group-item.our-message {
  text-align: right;
  padding: 0;
}
#thread_form .list-group-item.our-message .check-item {
  left: auto;
  right: 0;
}
#thread_form .list-group-item.our-message .avatar-wrap {
  display: none;
}
#thread_form .list-group-item.our-message .msg-content {
  text-align: left;
  margin: 0;
  margin-left: 3rem;
  margin-right: 0.5rem;
  color: #b3b3b3;
  background: #1b1b1b;
}
#thread_form .list-group-item.our-message .msg-content:before {
  left: auto;
  right: -0.5rem;
  border-color: #1b1b1b;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
#thread_form .list-group-item.our-message .msg-content .quote {
  background: rgba(45, 63, 78, 0.84);
}
#thread_form .list-group-item.selected .msg-content {
  background: #35414b;
}
#thread_form .list-group-item.selected .msg-content:before {
  border-top-color: #35414b;
}
#thread_form .list-group-item.msgbox.info {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -2rem 0 0 -9rem;
  padding: 1rem;
  width: 16rem;
  border-radius: 0.125rem;
  z-index: 99;
  background: #000d00;
  -webkit-box-oshadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}
#thread_form .list-group-item.msgbox.info .icon-close {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#thread_form .list-group-item.msgbox.info .icon-close:before {
  margin: 0 0.75rem -0.1em 0;
  font-size: 2rem;
  color: green;
}
@media screen and (max-width: 19em) {
  #thread_form .list-group-item.msgbox.info {
    width: auto;
    margin: 0;
    left: 1rem;
    right: 1rem;
  }
}
#thread_form .list-group-item + .list-group-item {
  margin-top: 0.3rem;
}
#thread_form .list-group-item + .list-group-item .avatar-wrap,
#thread_form .list-group-item + .list-group-item .msg-content:before {
  display: none;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message {
  margin-top: 0.3rem;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message .avatar-wrap,
#thread_form .list-group-item.our-message + .list-group-item.our-message .msg-content:before {
  display: none;
}
#thread_form .list-group-item.our-message + .list-group-item {
  margin-top: 0.3rem;
}
#thread_form .list-group-item.our-message + .list-group-item .avatar-wrap,
#thread_form .list-group-item.our-message + .list-group-item .msg-content:before {
  display: inline-block;
}
#thread_form .list-group-item + .list-group-item.our-message {
  margin-top: 0.3rem;
}
#thread_form .list-group-item + .list-group-item.our-message .avatar-wrap {
  display: none;
}
#thread_form .list-group-item + .list-group-item.our-message .msg-content:before {
  display: inline-block;
}
#qms[class*="noimages"] .avatar-wrap {
  display: none !important;
}
#qms[class*="noimages"] .msg-content {
  margin-left: 0.5rem !important;
}
#qms[class*="noimages"] .time {
  margin-left: 0.5rem !important;
}
@media screen and (max-width: 14em) {
  #qms .avatar-wrap {
    display: none !important;
  }
  #qms .msg-content {
    margin-left: 0.5rem !important;
  }
  #qms .time {
    margin-left: 0.5rem !important;
  }
}
/*
 *	NEWS
*/
#news {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0;
}
#news iframe {
  max-width: 100%;
  width: 480px;
  heigt: 360px;
}
@media screen and (max-width: 360px) {
  #news iframe {
    width: 240px;
    height: 160px;
  }
}
@media screen and (max-width: 480px) {
  #news iframe {
    width: 360px;
    height: 240px;
  }
}
#news .wp-caption {
  display: inline-block;
  vertical-align: top;
  margin: 0.5rem;
  max-width: 100%;
}
#news .wp-caption .wp-caption-dt {
  display: block;
}
#news .wp-caption .wp-caption-dd {
  display: block;
  color: #808080;
  font-size: 0.875rem;
}
#news.noimages .container .content a[data-lightbox] {
  display: inline-block;
}
#news.noimages .container .content a[data-lightbox]:before {
  content: 'Изображение';
  display: inline-block;
  padding: 0.5rem;
  font-weight: bold;
}
#news .container {
  margin: 0.5rem;
  border-radius: 0.125rem;
  background: #000000;
  padding: 0.3rem;
  overflow: hidden;
  color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
#news .container .content {
  padding: 0.5rem 0.7rem 0.7rem;
}
#news .container .content a {
  color: #afd9f9;
}
#news .container .content .content-box P[style="text-align: justify;"] {
  text-align: left !important;
}
#news .container .content .content-box .eg_tbl {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
#news .container .content .content-box .eg_tbl ._spacer,
#news .container .content .content-box .eg_tbl .spacer_ {
  display: none;
}
#news .container .content .content-box .eg_tbl * {
  margin: 0;
  padding: 0;
}
#news .container .content .content-box .eg_tbl > li {
  margin: 0;
  padding: 2rem 0;
  border-bottom: 1px solid #191919;
  background: #000000;
}
#news .container .content .content-box .eg_tbl > li div h1 {
  margin: 0 0 1rem;
}
@media screen and (max-width: 699px) {
  #news .container .content .content-box .eg_tbl > li div h1 {
    text-align: center;
  }
}
#news .container .content .content-box .eg_tbl > li div p {
  text-align: left;
  margin: 1rem 0;
}
#news .container .content .content-box .eg_tbl > li:last-child {
  border: none;
}
#news .product-detail {
  position: relative;
  display: block;
  padding: 0;
  margin: -0.3rem -0.3rem 0;
  background: #0d0d0d;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 50em) {
  #news .product-detail {
    display: table-block;
    margin-bottom: 1rem;
  }
}
#news .product-detail .photo {
  position: relative;
  display: block;
  text-align: center;
  min-height: 3.5rem;
}
@media screen and (min-width: 50em) {
  #news .product-detail .photo {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
}
#news .product-detail .photo img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
#news .product-detail .photo .label {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7) !important;
  background: rgba(0, 0, 0, 0.3);
}
#news .product-detail .photo .label.orange {
  color: orange !important;
}
#news .product-detail .photo .label i:before {
  color: white !important;
}
#news .product-detail .description {
  position: relative;
  display: block;
  margin: 0;
  padding: 1px 1rem;
  border-top: 1px solid #141414;
}
@media screen and (min-width: 50em) {
  #news .product-detail .description {
    padding: 0 1rem;
    border: none;
    position: static;
    display: table-cell;
    vertical-align: top;
  }
}
#news .product-detail .description h1 {
  margin-top: 2rem;
  font-size: 1.25rem;
  color: #b3b3b3;
}
#news .product-detail .description .info-holder {
  display: block;
  color: #4d4d4d;
}
#news .product-detail .description .info-holder .date {
  position: absolute;
  top: -0.6875rem;
  right: 0;
  height: 1.375rem;
  padding: 0 0.5rem;
  text-align: center;
  box-sizing: border-box;
  color: white;
  background: rgba(158, 158, 158, 0.3);
}
@media screen and (min-width: 50em) {
  #news .product-detail .description .info-holder .date {
    top: auto;
    bottom: -0.6875rem;
  }
}
#news .product-detail .description .info-holder .date:before {
  position: absolute;
  left: -1.328125rem;
  display: inline-block;
  content: '';
  border: 0.6875rem solid transparent;
  border-right: 0.6875rem solid rgba(158, 158, 158, 0.3);
}
#news .product-detail .description .info-holder .name {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  display: block;
  font-size: 0.75rem;
  text-align: right;
  font-style: italic;
}
@media screen and (min-width: 50em) {
  #news .product-detail .description .info-holder .name {
    right: auto;
    text-align: left;
  }
}
#news .product-detail .description .info-holder .name a {
  text-decoration: none;
  color: white;
}
#news .product-detail .description .more-box .number {
  position: absolute;
  top: -1.5rem;
  display: block;
  text-align: center;
  border-radius: 3rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: white !important;
  background: rgba(158, 158, 158, 0.3);
  -webkit-box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 50em) {
  #news .product-detail .description .more-box .number {
    top: auto;
    bottom: -1.5rem;
    left: 1rem;
  }
}
#news .product-detail .description .more-box .meta {
  display: block;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}
#news .product-detail .description .more-box .meta a {
  color: #afd9f9 !important;
  text-decoration: none;
}
#news BLOCKQUOTE {
  display: block;
  padding: 0;
  margin: 1rem 0;
  overflow: hidden;
  text-align: left !important;
  border-radius: 0.125rem;
  background: rgba(17, 29, 40, 0.88);
}
#news BLOCKQUOTE:before {
  content: 'Цитата';
  font-weight: bold;
  font-style: italic;
  color: rgba(212, 236, 255, 0.8);
  padding: 0.3rem 0.5rem;
  display: block;
}
#news BLOCKQUOTE p {
  padding: 0.5rem;
  margin: 0;
}
#news BLOCKQUOTE H3 {
  text-align: left;
  color: #cccccc;
}
#news .btn.iblock {
  display: inline-block;
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  text-decoration: none !important;
  vertical-align: middle;
  border-radius: 0.125rem;
  outline: 0;
  color: #000000 !important;
  background: #afd9f9;
}
#news .btn.nomargin {
  margin: 0;
}
#news .btn.rounded {
  border-radius: 0.125rem;
}
#news .btn.noborder {
  border: 0;
}
#news .btn.big {
  font-size: 1rem;
}
#news .btn.cancel {
  background: #03a9f4;
}
#news .btn.orange {
  background: #fb8c00;
}
#news .btn.green {
  background: #4caf50;
}
#news .btn.gray {
  background: #9e9e9e;
}
#news .btn.white {
  background: white;
  color: #000000;
}
#news .review-bottom-informer {
  display: block;
  padding: 0;
  margin: 0.5rem auto;
  background: #000000;
}
@media screen and (min-width: 50em) {
  #news .review-bottom-informer {
    text-align: center;
  }
}
#news .review-bottom-informer .item {
  display: block;
  text-align: center;
  margin: 0.5rem;
  border-radius: 0.125rem;
  padding: 0.5rem;
  text-decoration: none !important;
  background: #4d4d4d;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 50em) {
  #news .review-bottom-informer .item {
    display: inline-block;
    width: 13rem;
    height: 6.5rem;
    vertical-align: top;
  }
}
#news .review-bottom-informer .item .title {
  display: block;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  color: #000000;
}
#news .review-bottom-informer .item .title i:before {
  display: inline-block;
  color: #000000;
}
#news .review-bottom-informer .item .desc {
  display: block;
  color: white;
}
#news .review-bottom-informer .item .desc br {
  display: none;
}
#news h3 {
  text-align: center;
}
#news h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #b3b3b3;
}
#news .mlinks {
  display: block;
  overflow: hidden;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
#news .mlinks.desc {
  display: block;
  margin-bottom: 1rem;
  overflow: hidden;
}
#news .mlinks.desc .mlhead {
  min-height: 4.5rem;
  border-radius: 0.125rem 0.125rem 0 0;
}
#news .mlinks.desc .mlright .mlcell.th {
  position: relative;
}
#news .mlinks.desc .mlright .mlcell.th ~ p {
  display: none;
}
#news .mlinks.desc .mlright br {
  display: none;
}
#news .mlinks.desc .mlscreenshots.mlbody .do-vam {
  border-top: none;
}
#news .mlinks .mlhead,
#news .mlinks.desc .mlright {
  background: #808080;
  border-bottom: 1px solid #191919;
}
#news .mlinks .mlhead .do-vam > div .mlicon,
#news .mlinks.desc .mlright .do-vam > div .mlicon {
  width: 4rem !important;
  float: left;
  margin: 0.3rem;
  margin-right: 0.5rem;
}
#news .mlinks .mlhead .do-vam > div .mltitle,
#news .mlinks.desc .mlright .do-vam > div .mltitle {
  display: block;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.125rem;
  color: #000000;
  text-align: left;
}
#news .mlinks .mlhead .do-vam > div .mlauthor,
#news .mlinks.desc .mlright .do-vam > div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: #333333;
  text-align: left;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms {
  display: table;
  border-spacing: 0;
  margin: 0;
  width: 101%;
  background: #000000;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow {
  display: table-row;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow:first-child,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow:first-child {
  background: #191919;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell.th,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell.th {
  color: #a6a6a6;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell.th,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell.th,
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell {
  position: relative;
  display: table-cell;
  width: 34%;
  padding: 0.5rem 0;
  text-align: center;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell.th:first-child,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell.th:first-child,
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell:first-child,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell:nth-child(3),
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell.th a,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell.th a,
#news .mlinks .mlhead .do-vam > div .mltbl.platforms .mlrow .mlcell a,
#news .mlinks.desc .mlright .do-vam > div .mltbl.platforms .mlrow .mlcell a {
  text-decoration: none;
  color: #afd9f9 !important;
}
#news .mlinks .mlhead .do-vam > div .mldl,
#news .mlinks.desc .mlright .do-vam > div .mldl {
  display: block;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: #999999;
  background: #191919;
}
#news .mlinks .mlscreenshots.mlbody {
  display: block;
  padding: 0.5rem;
}
#news .mlinks .screenshots {
  overflow-x: auto;
}
#news .mlinks .screenshots .sc-btn.left,
#news .mlinks .screenshots .sc-btn.right {
  display: none ;
  height: 0.3rem;
  color: #000000;
}
#news .mlinks .screenshots .sc-content {
  position: relative;
  list-style: none;
  white-space: nowrap;
  margin-top: 0.4rem;
  padding: 0;
}
#news .mlinks .screenshots .sc-content a {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
}
#news .mlinks .screenshots .sc-content a img {
  display: inline-block;
  max-height: 300px;
  max-width: 100%;
  vertical-align: middle;
}
#news .galContainer {
  display: block;
  position: relative;
  padding: 0;
  overflow-x: auto;
  list-style: none;
  white-space: nowrap;
}
#news .galContainer li {
  display: inline-block;
}
#news .galContainer li a {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
}
#news .galContainer li a img {
  display: inline-block;
  max-height: 300px;
  max-width: 100%;
  vertical-align: middle;
}
#news .table4site {
  display: block;
  color: white !important;
  overflow-x: auto;
  box-sizing: border-box;
  background: #000000;
  border-spacing: 0;
  word-break: normal;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
}
#news .table4site tbody {
  display: table;
  width: 100%;
}
#news .table4site tbody TR {
  margin: 0;
  bacground: #080808;
}
#news .table4site tbody TR:nth-child(2n) {
  background: #0d0d0d;
}
#news .table4site tbody TR:last-child {
  border-bottom: none;
}
#news .table4site tbody TR:last-child td {
  border-bottom: none;
}
#news .table4site tbody TR TD {
  margin: -0.2rem !important;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
#news .table4site tbody TR TD:last-child {
  border-right: none;
}
#news .table4site tbody TR TD P {
  margin: 0;
  display: block;
}
#news .table4site tbody TR .icon {
  width: 3.5rem;
  vertical-align: middle;
  text-align: right;
  border: none;
}
#news .table4site tbody TR .icon + td {
  border: none;
}
#news .table4site tbody TR .icon IMG {
  display: inline-block;
  width: 3rem;
  margin: 0 auto;
}
#news .table4site tbody TR .links {
  width: 1%;
  border: none;
}
#news .table4site tbody TR .links p {
  padding: 0 0.5625rem 0 0.2rem;
}
#news .table4site tbody TR .links p:last-child {
  border: none;
}
#news .table4site tbody TR .links p strong {
  diasplay: block;
}
#news .table4site tbody TR .links p strong A {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 3rem;
  height: 3.5rem;
  color: transparent;
  background: url(material_src/home.png) no-repeat center;
  background-size: 2.5rem;
}
#news .table4site tbody TR .links p strong a[href="https://play.google.com/store/apps/details?id=com.clamotty"] {
  background: url(material_src/play_shopping.png) no-repeat center;
  background-size: 2.5rem;
}
#news .mb_source {
  margin: 2rem 0 0;
  font-size: 0.75rem;
}
#news .mb_source + br {
  display: none;
}
#news .mb_source NOINDEX A {
  color: white;
}
#news .materials-box {
  display: block;
  padding: 1rem 0.7rem;
  margin: 0.5rem 0.5rem 1.2rem;
  text-align: center;
  max-width: 75rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
  background: #000000;
}
#news .materials-box .box-title {
  display: block;
  font-size: 1.5rem;
  margin: 0 0 1.2rem;
  padding: 0;
  text-align: left;
  color: rgba(225, 225, 225, 0.7);
}
#news .materials-box .materials-slider {
  position: relative;
  display: block;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
#news .materials-box .materials-slider .slider-item {
  display: inline-block;
  margin: 0 -0.2rem;
  padding: 0;
  width: 24.5%;
  max-height: 100%;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  vertical-align: top;
}
@media screen and (max-width: 50em) {
  #news .materials-box .materials-slider .slider-item {
    width: 12.5rem;
  }
}
#news .materials-box .materials-slider .slider-item > a {
  display: inline-block;
  margin: 0;
  width: 100%;
}
#news .materials-box .materials-slider .slider-item > a img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
#news .materials-box .materials-slider .slider-item h3 {
  margin: 0;
  padding: 0.3rem;
  text-align: left;
  white-space: normal;
}
#news .materials-box .materials-slider .slider-item h3 a {
  font-size: 1rem;
  color: #afd9f9;
}
#news .page-nav.box {
  display: block;
  margin: 0.7rem 0.5%;
  padding: 0;
  text-align: center;
  font-size: 1.25rem;
}
#news .page-nav.box li {
  display: inline-block;
  width: 48%;
  padding: 0;
  list-style-type: none;
}
#news .page-nav.box li a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.7rem 0;
  text-transform: uppercase;
  color: rgba(225, 225, 225, 0.7) !important;
  font-weight: bold;
  text-decoration: none;
}
#news .page-nav.box li a .icon-right-small i,
#news .page-nav.box li a .icon-left-small i {
  display: none;
}
#news .page-nav.box li a .icon-right-small:before,
#news .page-nav.box li a .icon-left-small:before {
  display: inline-block;
  content: '';
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 0;
  margin: 0 1rem;
  box-sizing: border-box;
  border-top: 0.125rem solid rgba(225, 225, 225, 0.7);
  border-left: 0.125rem solid rgba(225, 225, 225, 0.7);
}
#news .page-nav.box li a .icon-left-small:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#news .page-nav.box li a .icon-right-small:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#news .comment-box {
  z-index: 10;
  font-size: 1rem;
  display: block;
  padding: 0;
  position: relative;
  margin: 0;
  border-radius: 0.125rem;
  font-weight: normal;
  color: #000000;
  text-align: left;
}
#news .comment-box > .heading {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  text-align: right;
}
#news .comment-box > .heading h2 {
  display: block;
  color: rgba(225, 225, 225, 0.7);
  text-align: center;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 0.3rem;
  margin: 0;
}
#news .comment-box > .heading a {
  display: none;
}
#news .comment-box ul.comment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#news .comment-box ul.comment-list li {
  display: block;
  text-align: left;
  margin: 0.5rem;
  padding: 0;
  word-break: break-word;
  background: #000000;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
#news .comment-box ul.comment-list li li {
  margin: 0;
  padding: 0 0 0 5%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
}
@media screen and (min-width: 50em) {
  #news .comment-box ul.comment-list li li {
    padding-left: 2rem;
  }
}
#news .comment-box ul.comment-list li > div {
  position: relative;
  margin: 0;
  padding: 0;
}
#news .comment-box ul.comment-list li .deleted {
  display: none;
}
#news .comment-box ul.comment-list li .deleted + ul > li {
  padding-left: 0;
}
#news .comment-box ul.comment-list li .heading {
  display: block;
  margin: 0 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid #191919;
}
#news .comment-box ul.comment-list li .heading .nickname {
  margin-right: 0.25rem;
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
#news .comment-box ul.comment-list li .heading .karma {
  position: absolute;
  bottom: 0.5rem;
  left: 8.25rem;
  cursor: pointer;
  padding: 0 0.25rem;
}
#news .comment-box ul.comment-list li .heading .karma .icon-karma-up b {
  display: inline-block;
  height: 1.25rem;
  line-height: 1.25rem;
  vertical-align: middle;
}
#news .comment-box ul.comment-list li .heading .karma .icon-karma-up b:before {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 1.25rem;
  line-height: 1.25rem;
}
#news .comment-box ul.comment-list li .heading .karma .icon-hide-comment {
  display: none;
}
#news .comment-box ul.comment-list li .heading .karma .num-wrap .num {
  padding: 0 0.5rem;
  color: #808080;
}
#news .comment-box ul.comment-list li .heading .h-meta {
  float: right;
  font-size: 0.875rem;
  font-weight: normal;
  height: 1.25rem;
  line-height: 1.25rem;
  color: #808080;
}
#news .comment-box ul.comment-list li .heading .h-meta .more-meta {
  position: absolute;
  bottom: 0.5rem;
  left: 2.5rem;
  color: transparent;
}
#news .comment-box ul.comment-list li .heading .h-meta .more-meta a {
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0;
  height: 1.25rem;
  line-height: 1.25rem;
}
#news .comment-box ul.comment-list li .heading .h-meta .more-meta a i {
  height: 1.25rem;
  line-height: 1.25rem;
}
#news .comment-box ul.comment-list li .heading .h-meta .more-meta a i:before {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 1.25rem;
  line-height: 1.25rem;
}
#news .comment-box ul.comment-list li .content {
  padding: 0.5rem 0.5rem 2.25rem;
  margin: 0;
  color: white;
}
#news .comment-box ul.comment-list li DIV[id*="comment-form-reply"] {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  display: block;
}
#news .comment-box ul.comment-list li DIV[id*="comment-form-reply"] a {
  display: block;
  color: transparent;
  overflow: hidden;
  width: 2.5rem;
  height: 1.25rem;
  font-size: 1rem;
  background: url(material_src/reply.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  opacity: 0.8;
}
.video-thumb-wrapper {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.5rem;
  background-image: url(file:///android_asset/forum/style_images/play_video.png);
}
.video-thumb-wrapper .video-thumb {
  width: auto;
  height: auto;
  opacity: .5;
  margin: 0.5rem 0;
}
::-webkit-scrollbar,
::webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
::-webkit-scrollbar-thumb,
::webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.3);
}
/*
*	PROFILE
*/
#profile .user-profile-list {
  display: block;
  max-width: 50em;
  font-size: 1rem;
  text-align: left;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
#profile .user-profile-list .margin-block {
  visibility: hidden;
}
#profile .user-profile-list > li {
  display: block;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #000000;
}
#profile .user-profile-list > li.hide-on-empty {
  display: none;
}
#profile .user-profile-list > li .user-box {
  display: block;
  text-align: center;
  margin: -0.75rem -0.75rem 1rem;
  padding: 0.75rem;
  border-bottom: 1px solid #191919;
  background-image: url(../profile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#profile .user-profile-list > li .user-box .photo {
  padding: 0;
  margin: 0 0 0.5rem;
}
#profile .user-profile-list > li .user-box .photo .img {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 0.125rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#profile .user-profile-list > li .user-box .photo .img.circle {
  border-radius: 10rem;
  overflow: hidden;
}
#profile .user-profile-list > li .user-box h1 {
  display: block;
  font-size: 1.5rem;
  margin: 0;
}
#profile .user-profile-list > li .user-box h2 {
  display: block;
  font-size: 1rem;
  margin: 0;
}
#profile .user-profile-list > li .user-box h2 span {
  display: block;
  font-size: 1em;
  font-weight: normal;
}
#profile .user-profile-list > li .u-note {
  margin-top: 0.7rem;
}
#profile .user-profile-list > li .profile-edit-links {
   display: none;
}
#profile .user-profile-list > li .profile-edit-links .col {
  display: inline-block;
  margin-right: -3px;
  width: 50%;
  vertical-align: middle;
}
#profile .user-profile-list > li .profile-edit-links .col + .col {
  text-align: right;
}
#profile .user-profile-list > li .profile-edit-links .col a {
  display: inline-block;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #afd9f9;
}
#profile .user-profile-list .info-list.black-link {
  list-style-type: none;
  padding: 0;
}
#profile .user-profile-list .info-list.black-link li {
  display: block;
  padding: 0;
}
#profile .user-profile-list .info-list.black-link .title {
  font-weight: bold;
  vertical-align: middle;
}
#profile .user-profile-list .info-list.black-link .area {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
#profile .user-profile-list .info-list.black-link .area a {
  display: inline-block;
  font-weight: bold;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] {
  display: block;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  overflow: hidden;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li > a:not(.noico) {
  display: inline-block;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li > a:not(.noico) .icon-pencil {
  display: none;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li:last-child .noico {
  display: inline-block;
  font-weight: bold;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li:first-of-type {
  font-weight: bold;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li:first-of-type:after {
  content: '';
  font-size: 1rem;
  display: inline-block;
  margin: 0 1rem;
  height: 0.7rem;
  width: 0.4rem;
  border-bottom: 0.1875rem solid grey;
  border-right: 0.1875rem solid grey;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span {
  position: relative;
  text-align: center;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span[style="float:right;overflow:hidden;margin:.15em 0"] {
  margin: 0 !important;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span[style="float:right;overflow:hidden;margin:.15em 0"] a {
  display: inline-block;
  width: 2.5rem;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span[style="float:right;overflow:hidden;margin:.15em 0"] a i {
  display: none;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span[style="float:right;overflow:hidden;margin:.15em 0"] a:before {
  content: '×';
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  color: #808080;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span label {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 2.5rem;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span label i:before {
  display: none;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span label input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span label input[type="radio"] + i {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  border-radius: 1em;
  border: 0.125rem solid #808080;
  transition: all 0.25s;
  overflow: hidden;
  background: #000000;
  -webkit-box-shadow: inset 0 0 0 1rem #000000;
  box-shadow: inset 0 0 0 1rem #000000;
}
#profile .user-profile-list .info-list.black-link[id*="device-list"] li span label input[type="radio"]:checked + i {
  background: #afd9f9;
  border: 0.125rem solid #afd9f9;
  -webkit-box-shadow: inset 0 0 0 0.2rem #000000;
  box-shadow: inset 0 0 0 0.2rem #000000;
}
#profile .user-profile-list li > DIV {
  overflow: hidden;
}
#profile .user-profile-list li .heading {
  position: relative;
  padding: 0.2rem;
  margin: 0 0 1rem;
  overflow: hidden;
}
#profile .user-profile-list li .heading .ico {
  float: left;
  margin-right: 1rem;
  display: none;
}
#profile .user-profile-list li .heading .ico i {
  display: inline-block;
}
#profile .user-profile-list li .heading .ico i:before {
  display: inline-block;
  font-size: 1.25rem;
  color: #666666 !important;
}
#profile .user-profile-list li .heading h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
#profile .user-profile-list li h3 {
  display: block;
  text-align: left;
}
#profile .user-profile-list li .contact-social .social-link {
  list-style-type: none;
  padding: 0;
  margin-left: -0.5rem;
}
#profile .user-profile-list li .contact-social .social-link li {
  display: inline-block;
  padding: 0.5rem;
}
#profile .user-profile-list li .statistic-box .col {
  display: inline-block;
  width: 50%;
  min-width: 9rem;
  margin-right: -3px;
}
#profile .user-profile-list li .statistic-box .col h3 {
  margin: 0 0 0.7rem;
  padding: 0;
}
#profile .user-profile-list li .statistic-box .col ul {
  list-style-type: none;
  padding: 0;
}
#profile .user-profile-list li .statistic-box .col ul li .title {
  margin: 0;
  margin-right: 0.3rem;
  vertical-align: middle;
}
#profile .user-profile-list li .statistic-box .col ul li .area {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}
#profile .user-profile-list li .statistic-box .col ul li .area A[title="Просмотреть репутацию"] {
  margin: 0;
}
#profile .user-profile-list li .statistic-box .col ul li .area .warn-btn strong {
  display: inline-block;
  margin: 0;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  color: #000000;
  border-radius: 0.125rem;
}
#profile .user-profile-list li .statistic-box .col ul li .area .warn-btn[title="Опустить репутацию"] strong {
  background: #fb6a6a;
}
#profile .user-profile-list li .statistic-box .col ul li .area .warn-btn[title="Поднять репутацию"] strong {
  background: #1ca11c;
}
#profile .user-profile-list li .profile-textarea {
  width: 96% !important;
  padding: 2%;
  color: white;
  border: none;
  background: #000000;
}
#profile .user-profile-list li .profile-textarea:focus {
  outline: 1px solid #afd9f9;
}
#profile .user-profile-list .no-min-size .alert-log-list {
  list-style-type: none;
  padding: 0;
}
#profile .user-profile-list .no-min-size .alert-log-list li:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#profile .user-profile-list .no-min-size .alert-log-list .wlog-pos,
#profile .user-profile-list .no-min-size .alert-log-list .wlog-neg {
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
}
#profile .user-profile-list .no-min-size .alert-log-list .wlog-pos .a-heading,
#profile .user-profile-list .no-min-size .alert-log-list .wlog-neg .a-heading {
  position: relative;
}
#profile .user-profile-list .no-min-size .alert-log-list .wlog-pos .a-heading h4,
#profile .user-profile-list .no-min-size .alert-log-list .wlog-neg .a-heading h4 {
  margin: 0 0 0.1rem;
}
#profile .user-profile-list .no-min-size .alert-log-list .wlog-pos .a-heading span,
#profile .user-profile-list .no-min-size .alert-log-list .wlog-neg .a-heading span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.875rem;
  color: #999999;
}
#profile .user-profile-list .no-min-size .alert-log-list .wlog-pos .a-content .post-link,
#profile .user-profile-list .no-min-size .alert-log-list .wlog-neg .a-content .post-link {
  margin-top: 0.7rem;
}
/*
*	EDIT PROFILE
*/
#edit_profile form {
  display: block;
}
#edit_profile form .field {
  display: block;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #000000;
}
#edit_profile form .field [type="hidden"] {
  display: none;
}
#edit_profile form .field ~ br {
  display: none;
}
#edit_profile form .field h2 {
  display: block;
  padding: 0.5rem;
  margin: 0;
  color: white;
}
#edit_profile form .field h2 strong {
  font-size: 1.125rem;
  line-height: 1.2em;
  color: white;
}
@media screen and (max-width: 50em) {
  #edit_profile form .field table,
  #edit_profile form .field tbody,
  #edit_profile form .field tr,
  #edit_profile form .field td {
    display: block;
    margin: 0;
    padding: 0;
    width: auto !important;
  }
}
#edit_profile form .field .row1 {
  padding: 0.5rem !important;
  color: #595959;
  font-size: 1.125rem;
}
@media screen and (max-width: 50em) {
  #edit_profile form .field .row1 {
    padding: 0.5rem 0.5rem 0!important;
  }
}
#edit_profile form .field .row1 b {
  font-weight: normal;
  color: #b3b3b3;
}
#edit_profile form .field .row2 {
  padding: 0.5rem !important;
  color: #808080;
}
@media screen and (max-width: 50em) {
  #edit_profile form .field .row2 {
    padding: 0 0.5rem 0.5rem !important;
  }
}
#edit_profile form .field .row2 input,
#edit_profile form .field .row2 select,
#edit_profile form .field .row2 textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  max-width: 100%;
}
#edit_profile form .field .row2 input[type="text"] {
  padding: 0 0 0.5rem;
  color: white;
  border-bottom: 1px solid #191919;
  background: #000000;
}
#edit_profile form .field .row2 input[type="text"]:focus {
  border-bottom: 2px solid rgba(158, 158, 158, 0.3);
}
#edit_profile form .field .row2 select {
  padding: 0.5rem;
  padding-right: 1.2rem;
  font-weight: bold;
  color: white;
  background: #000000;
  border-bottom: 1px solid #191919;
  background-image: url(.../android_asset/profile/down_grey600_24dp.png), url(profile/down_grey600_24dp.png), url(material_src/down_grey600_24dp.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.2rem;
}
#edit_profile form .field .row2 select:focus {
  border-bottom: 2px solid rgba(158, 158, 158, 0.3);
}
#edit_profile form .field .row2 .editor_button {
  margin-top: 1rem;
}
#edit_profile form .field .row2 .editor_button input {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  font-weight: bold;
  line-height: 1.8em;
  margin: 0.3rem 0.3rem 0.3rem 0;
  color: #000000;
  border-radius: 0.125rem;
  background: grey;
}
#edit_profile form .field .row2 .editor_button input:focus {
  opacity: 0.5;
}
#edit_profile form .field .row2 .editor_button [value="B"] {
  font-weight: bold;
}
#edit_profile form .field .row2 .editor_button [value="I"] {
  font-style: italic;
}
#edit_profile form .field .row2 .editor_button [value="U"] {
  text-decoration: underline;
}
#edit_profile form .field .row2 .editor_button [value="S"] {
  text-decoration: line-through;
}
#edit_profile form .field .row2 .editor_button textarea {
  border: 1px solid #191919;
  color: white;
  background: #000000;
}
#edit_profile form .field .row2 .editor_button textarea:focus {
  border: 2px solid rgba(158, 158, 158, 0.3);
}
@media screen and (min-width: 50em) {
  #edit_profile form .field .formbuttonrow {
    text-align: right;
  }
}
#edit_profile form .field .formbuttonrow input {
  font-weight: bold;
  padding: 0.7rem;
  font-size: 1rem;
  margin: 0;
  color: #afd9f9;
  -webkit-appearance: none;
  appearance: none;
  text-transform: uppercase;
  outline: none;
  border: none;
  background: transparent;
}
#edit_profile form .field .formbuttonrow input:active {
  background: rgba(130, 130, 130, 0.2);
}
/*
*		MULTIMODERATION
*/
#curator .panel .pages {
  margin: 0.5rem 0;
}
#curator .panel .pages a:not(.button),
#curator .panel .pages b {
  display: none;
}
#curator .panel .pages select {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
#curator .panel .pages .button {
  padding: 0.75rem 7.5%;
  max-height: 30%;
  font-weight: bold;
  color: grey;
}
#curator .panel .pages .button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
#curator .panel .controls {
  margin: 1rem auto;
}
#curator .panel .controls button {
  display: inline-block;
  padding: 0.75rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(225, 225, 225, 0.7);
  outline: none;
  border: none;
  background: none;
}
#curator .post_header {
  position: relative;
  padding: 0 0 0.5rem;
}
#curator .post_header a {
  text-decoration: none !important;
}
#curator .post_header .inf {
  display: block;
  font-size: 0.875rem;
  color: #808080;
}
#curator .post_header .nick {
  padding: 0.5rem 0;
  font-size: 1.125rem;
  color: white;
}
@media screen and (max-width: 50em) {
  #curator .post_header .nick {
    margin-right: 3rem;
    padding: 0;
    margin-bottom: 1rem;
  }
}
#curator .post_header .link {
  padding: 0.5rem 0;
  font-weight: bold;
}
@media screen and (max-width: 50em) {
  #curator .post_header .link {
    display: inline-block;
    padding: 0.25rem 0;
  }
}
@media screen and (max-width: 50em) {
  #curator .post_header .date-link {
    position: absolute;
    right: 0;
    bottom: 0.75rem;
  }
}
#curator .post_header .checkbox {
  display: block;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 50em) {
  #curator .post_header .checkbox {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.25rem 0.25rem;
  }
}
#curator .post_header .checkbox .icon {
  position: relative;
}
#curator .post_header .checkbox input {
  display: none;
}
#curator .post_header .checkbox input + .icon {
  display: inline-block;
  position: relative;
  height: 1rem;
  width: 1rem;
  border-radius: 0.125rem;
  overflow: hidden;
  border: 0.125rem solid #808080;
  background: #000000;
}
#curator .post_header .checkbox input + .icon:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 0.75rem;
  width: 0.375rem;
  border-bottom: 0.15625rem solid #000000;
  border-right: 0.15625rem solid #000000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: rotate(45deg) translate(-0.25rem, 0.125rem) scale(0, 0);
  transform: rotate(45deg) translate(-0.25rem, 0.125rem) scale(0, 0);
}
#curator .post_header .checkbox input:checked + .icon {
  background: #afd9f9;
  border-color: #afd9f9;
}
#curator .post_header .checkbox input:checked + .icon:before {
  -webkit-transform: rotate(45deg) translate(-0.25rem, 0.125rem) scale(1, 1);
  transform: rotate(45deg) translate(-0.25rem, 0.125rem) scale(1, 1);
}
#curator .post_body {
  padding-bottom: 0.75rem;
}
@media screen and (min-width: 50em) {
  #curator .post_body {
    min-height: 9rem;
  }
}
/*
*	OTHER
*/
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: middle;
}
.img[style*="av.png"] {
  background-image: url(material_src/person.svg) !important;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #5b5b5b;
}
#rules .post_body {
  margin: 0.5rem;
}
