@charset "utf-8";
HTML {
  font-size: 1em;
  padding: 0.1rem;
}
HTML BODY {
  width: 100%;
  font-size: 100%;
  display: block;
  background: black;
  color: white;
  margin: 0;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  max-height: 10rem;
  overflow: auto;
}
@media screen and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media screen and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
/*
 *	DARK-COLOR
*/
*[style*="color:royalblue"] {
  color: #ced8f7 !important;
}
*[style*="color:blue"] {
  color: #6666ff !important;
}
*[style*="color:darkblue"] {
  color: #3f3fff !important;
}
*[style*="color:indigo"] {
  color: #aa35ff !important;
}
*[style*="color:crimson"] {
  color: #ee4062 !important;
}
*[style*="color:red"] {
  color: #ff4242 !important;
}
*[style*="color:darkred"] {
  color: #ff2525 !important;
}
*[style*="color:deeppink"] {
  color: #ff61b6 !important;
}
*[style*="color:Black"],
*[style*="color:black"],
*[style*="color:#000000"],
*[style*="color:#000"] {
  color: #fff!important;
}
*[style*="background-color:white"] *[style*="color:black"],
*[style*="color:black"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000000"],
*[style*="color:#000000"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000"],
*[style*="color:#000"] *[style*="background-color:white"] {
  color: #000!important;
}
.poll .hidetop {
  display: block;
  padding: 0.3em;
  background: #1d2d3e;
  margin: -0.1em 0 0;
  border-left: 3px #8895a5 solid;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  color: white;
  text-align: center;
  margin: 0.5rem 0 !important;
}
.poll .hidemain {
  padding: 0;
  margin: 0;
  overflow: auto;
}
.poll .hidemain form > .ipbtable {
  display: table-block;
  border-spacing: 0;
  width: 100%;
}
.poll .hidemain form > .ipbtable > tbody > tr {
  display: block;
}
.poll .hidemain form > .ipbtable > tbody > tr:first-child {
  display: none;
}
.poll .hidemain form > .ipbtable > tbody > tr td[align="center"] {
  display: block;
  padding: 0.4rem 0;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow {
  display: block;
  text-align: center;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow .button {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #595959;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
  margin: 0 !important;
  background: #222222;
}
.poll .hidemain form > .ipbtable > tbody tr {
  padding: 0 !important;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 {
  display: block;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #666666;
  color: white !important;
  background: black;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .row1 {
  margin: 0 0 0.1rem;
  padding: 0.2rem !important;
  font-size: 1rem !important;
  color: #b3b3b3;
  background: #222222;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable {
  width: 100%;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td img {
  border: 0.1rem solid #57a;
  height: 0 !important;
  padding: 0.35rem 0;
  margin-top: -0.2em;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9bbdf0), color-stop(100%, #5577aa));
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td img:first-child,
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td img:last-child {
  display: none;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 .borderwrap .ipbtable tbody tr td .radiobutton ~ b {
  position: relative;
  top: 0.15rem;
}
.hidetop {
  display: block;
  padding: 0.3em;
  background: #1d2d3e;
  margin: -0.1em 0 0;
  border-left: 3px #8895a5 solid;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  color: white;
  text-align: center;
}
DIV[id*="msg"][name*="msg"] > .hidetop b {
  color: transparent;
  display: block;
}
DIV[id*="msg"][name*="msg"] > .hidetop b:after {
  position: absolute;
  left: 0;
  width: 100%;
  content: '(>>> ШАПКА ТЕМЫ <<<)';
  font-size: 1rem;
  color: white;
}
.post-block.spoil > .block-title {
  display: block;
  padding: 0.3em;
  background: #1d2d3e;
  margin: 0.5em -0.5em 0.4rem;
  border-left: 0.2em #8895a5 solid;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  color: white;
}
.post-block.spoil > .block-body {
  padding: 0 0.5em 0.5em;
  margin: -0.4rem -0.5em 0.4rem;
  border-left: 0.2em #8394b2 solid;
  border-right: 0;
  border-bottom: 1px #dee4ec solid;
}
.post-block.quote {
  display: block;
  padding: 0.2em 0.4em 0.4em 0.4em;
  margin: 1em 0.2em 1em 0;
  border-left: 0.2em solid #5588cc;
}
.post-block.quote > .block-title {
  display: block;
  margin-bottom: 0.5em;
  color: #999999;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;
}
.post-block.quote > .block-body {
  padding: 0;
  margin: 0;
  color: white;
}
.post-block.code > .block-title {
  color: #999999;
  font-weight: bold;
  margin: 0.5em auto 0;
  padding: 0.3em;
}
.post-block.code > .block-body {
  border: 1px dotted #b2b2b2;
  color: #99ff99;
  margin: 0 auto 0.4em;
  padding: 0.3em;
}
.post-block.hidden > .block-title {
  color: #999999;
  font-weight: bold;
  margin: 0.5em auto 0;
  padding: 0.3em;
}
.post-block.hidden > .block-body {
  border: 1px dotted #858585;
  color: white;
  margin: 0 auto 0.4em;
  padding: 0.5em 0.2em;
}
/***ADM***/
.cur {
  background: #00943b;
}
.mod {
  background: #6060ff;
}
.ex {
  background: #ff6060;
}
.cur,
.mod,
.ex {
  margin: 0.8em  0;
  border: 1px solid #333333;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-weight: bold;
  width: 4.5rem;
  text-align: center;
  height: 100%;
  padding: 0.5em 0;
  font-size: 3.5rem;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  background: black;
  height: 100%;
  margin: 0;
}
/*** navi ***/
.navi {
  margin-top: 3px;
  max-width: 100%;
  text-align: center;
  background: black;
}
.first,
.prev,
.page,
.next,
.last {
  display: inline-block;
  float: center;
  text-align: center;
}
.first,
.prev,
.next,
.last {
  width: 15%;
}
.page {
  width: 26%;
}
.prev {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
.next {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
/*** QMS ***/
#thread_form A[title="Ссылка"] {
  color: #7799dd;
}
#thread_form .date {
  font-size: 1rem;
  display: block;
  margin: 2.3rem 0.5rem 3rem;
  padding: 0;
  text-align: center;
  border-bottom: 1px dashed #808080;
}
#thread_form .date .text {
  position: relative;
  top: 0.7rem;
  display: inline-block;
  padding: 0 0.5rem;
  color: #808080;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: lowercase;
  background: black;
}
#thread_form .list-group-item {
  font-size: 1rem;
  position: relative;
  display: block;
  margin: 1.2rem 0.2rem;
  padding: 0;
  border-top: 3px solid #5588cc;
  background: #222222;
}
#thread_form .list-group-item .check-item {
  position: relative;
  float: right;
  height: 1.3rem;
  text-align: center;
  margin: 0;
}
#thread_form .list-group-item .check-item input {
  display: none;
}
#thread_form .list-group-item .check-item input:checked + .checkbox > .icon-check {
  opacity: 1;
}
#thread_form .list-group-item .check-item .checkbox {
  display: block;
  margin: 0.3rem 0.4rem;
  width: 0.8rem;
  height: 0.8rem;
  background: black;
  border: 1px solid #4d4d4d;
}
#thread_form .list-group-item .check-item .checkbox .icon-check {
  position: relative;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#thread_form .list-group-item .check-item .checkbox .icon-check:before {
  position: absolute;
  display: inline-block;
  top: -0.2rem;
  left: -0.15rem;
  line-height: 1rem;
  text-align: center;
  content: '✓';
  color: #00a900;
  font-weight: 500;
  font-size: 1.4rem;
  z-index: 99;
}
#thread_form .list-group-item .time {
  position: relative;
  float: right;
  height: 1.6rem;
  margin: 0 0.3rem;
  line-height: 1.6rem;
  font-size: 1rem;
  color: #999999;
}
#thread_form .list-group-item .time .read-status.unread.big-dot {
  position: relative;
  display: inline-block;
  top: -0.05rem;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 0.6rem;
  background: #bd4646;
}
#thread_form .list-group-item .avatar-wrap {
  display: block;
  float: left;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.2rem;
  margin: 0.3rem;
  text-align: center;
}
#thread_form .list-group-item .avatar-wrap .avatar {
  display: inline-block;
  max-width: 3rem;
}
#thread_form .list-group-item strong {
  display: inline-block;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin: 0;
  color: #e6e6e6;
}
#thread_form .list-group-item .msg-content {
  display: block;
  margin: 0;
  padding: 0.5rem;
  clear: both;
  color: white;
  word-wrap: break-word;
  border-top: 1px solid #4d4d4d;
  background: black;
  border-radius: 0 0 0.2rem 0.2rem;
}
/*** END QMS ***/
table {
  font-size: inherit;
}
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: bottom;
}
a {
  color: #7799dd;
  line-height: 1.7;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] {
  position:  relative;
  display: inline-block;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  position: absolute;
  opacity: 0;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  content: '«';
  text-decoration: none;
  font-weight: bold;
  font-size: 1.45em;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  margin: -0.2em -0.3em;
  color: #58c;
}
.post-block .block-title a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  margin-right: -0.2em !important;
}
ul,
ol {
  margin-left: -1em;
}
img {
  max-width: 100%!important;
  height: auto!important;
  -webkit-transform: translate3d(0, 0, 0) rotateZ(0);
  transform: translate3d(0, 0, 0) rotateZ(0);
}

.sp_img {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.3em;
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  background: #0d0d0d;
}
.post_body font {
  font-size: 0.95rem!important;
}
.post_body {
  font-size: 1rem;
  position: relative;
  padding: 0.8em 0.5em 1em;
  clear: both;
  word-wrap: break-word;
  background: black;
  border-bottom: 1px solid #4d4d4d;
}
.post_body .postcolor {
  margin: 0 -0.5rem;
  padding: 0 0.5rem;
  overflow-x: visible !important;
  overflow-y: auto;
}
.signature {
  font-size: 0.8rem;
}
.post_header {
  border-bottom: 1px solid #4d4d4d;
  border-top: 2px solid #5588cc;
  padding: 0 0.4em;
  background: #222222;
  margin-top: 0;
  min-height: 3.6rem;
}
.margin_left {
  display: inline-block;
  width: 4.4rem;
}
.post_header A.system_link[onclick*="window.HTMLOUT.showPostMenu"] {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #595959;
  font-weight: normal;
  text-align: center;
  color: #cccccc !important;
  display: block;
  margin-top: -0.8rem !important;
  position: absolute;
  right: 0.4rem;
}
.post_header a img {
  margin-bottom: 0;
}
.system_link .post_date_cli {
  display: inline-block;
  line-height: 1.2;
  margin: -0.9rem 0 0;
  margin-top: 0;
  position: relative;
  font-size: 0.95rem;
  color: #b3b3b3;
  margin-bottom: 0.2rem;
}
.post_header DIV .post_date_cli {
  position: absolute;
  margin-top: -1.3rem;
  padding: 0 0.4rem;
  text-align: left;
  left: 0.1rem;
  right: 0.1rem;
  display: block;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #b3b3b3;
  background: #222222;
  border-bottom: 1px solid black;
}
.post_header DIV .post_date_cli a {
  color: #b3b3b3;
}
.post_header DIV .post_date_cli a[onclick*="window"] {
  margin-left: 0.2em;
  font-size: 0.9rem;
  font-weight: bold;
  float: right;
}
.post_nick_cli a,
.post_nick_online_cli a {
  position: relative;
  top: 0.7rem;
  margin-top: 1rem !important;
  display: inline-block;
}
.post_nick_cli a {
  position: relative;
  font-size: 1.1rem !important;
  line-height: 1.2;
  color: #b55;
  font-weight: bold;
}
.post_nick_online_cli a {
  font-size: 1.1rem !important;
  line-height: 1.2;
  color: #88db88;
  font-weight: bold;
}
.avatar_parent_container {
  position: absolute;
  display: table;
  width: 4rem;
  height: 4rem;
  margin: -0.9rem 0 0 -0.1rem;
}
.avatar_container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  border-radius: 0.3em;
}
.avatar_container IMG {
  display: block;
  margin: 0 auto;
  max-width: 3.8rem !important;
  max-height: 3.8rem !important;
}
.user_group {
  display: inline-block;
  margin-top: 0.3rem;
  position: relative;
  font-size: 0.9rem;
  color: #b3b3b3;
}
.post_date {
  position: relative;
  float: right;
  display: block;
  line-height: 1;
  color: #b3b3b3;
}
.post_user_info {
  display: block;
  color: transparent;
  text-transform: lowercase;
}
.post_user_info a {
  color: #b3b3b3;
  text-decoration: none;
}
.post_user_info br {
  display: none;
}
.post_user_info strong {
  font-size: 1rem;
  color: #0a0;
  line-height: 1;
  margin: 0;
}
.post_user_info span {
  display: block;
  font-size: 0.95rem;
  text-transform: lowercase;
  line-height: 1.5;
  color: #b3b3b3;
}
.post_user_info a {
  font-size: 0.95rem;
  margin: 0 0 0 0.4em;
  display: inline-block;
  line-height: 1.5;
  float: right;
}
.post_user_info a:first-of-type:before {
  content: '|';
  padding-right: 0.5em;
}
.post_action {
  display: table;
  position: relative;
  width: 100%;
  text-transform: lowercase;
}
.post_action a {
  font-size: 0.95rem;
  display: inline-block;
  float: right;
  line-height: 0.8;
  padding-left: 0.5em;
  color: #b3b3b3;
  text-decoration: none;
}
.post_action a:before {
  content: '|';
  padding-right: 0.5em;
}
.post_action a:first-of-type:before {
  content: '';
  padding-right: 0;
}
.post_action a:last-of-type:before {
  content: '';
}
.post_action a:first-of-type {
  display: inline-block;
  color: #808080;
  float: left;
  padding-left: 0;
  line-height: 1;
}
.post_nick a {
  margin-top: -0.8em;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
  font-size: 1.1rem !important;
  color: white !important;
  font-weight: bold;
}
.s_post_footer {
  position: relative;
  clear: both;
  padding: 0 0.3rem;
  margin-top: -0.1rem;
  background: #222222;
  border-bottom: 1px solid #595959;
  text-align: center;
  color: white;
}
.s_post_footer td {
  position: relative;
  top: -0.15rem;
  padding: 0.2em 0.3em;
  border-top: 1px solid #4d4d4d;
}
@media screen and (min-width: 960px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    text-align: center;
    position: relative;
    padding: 0.3em 0.6em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background: #222222;
    border-bottom: 1px solid #595959;
  }
  .post_footer a {
    display: table-block;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .send_claim_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .send_claim_button:before {
    content: 'жалоба';
  }
  .post_footer a .send_claim_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
    margin-left: 0.9em;
    border-left: 1px solid #646464;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    margin-left: 1em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .insert_nick_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
    margin-left: 0.9em;
    border-right: 1px solid #646464;
  }
  .post_footer a .quote_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
    margin-left: 1em;
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin-right: 0.25em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .post_vote_bad:after {
    content: 'плохо';
    margin-right: 0.5em;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    top: 0.1em;
    font-weight: bold;
    content: "➜";
    -webkit-transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
    font-size: 1em;
    color: #d33d3d;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
    margin-left: 0.25em;
  }
  .post_footer a .post_vote_good:before {
    content: 'хорошо';
    margin-left: 0.15em;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    top: 0.1em;
    content: "➜";
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    margin-left: 0.15em;
    float: right;
    font-size: 1em;
    color: #078107;
  }
  .post_footer a .delete_post_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .delete_post_button:before {
    content: 'удалить';
  }
  .post_footer a .delete_post_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
    margin-left: 0.9em;
    border-left: 1px solid #646464;
  }
  .post_footer a .edit_post_button {
    display: block;
    float: right;
    margin-left: 1em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .edit_post_button:after {
    content: 'редактировать';
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    text-align: center;
    position: relative;
    padding: 0.3em 0.6em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background: #222222;
    border-bottom: 1px solid #595959;
  }
  .post_footer a {
    display: table-block;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin-right: 0.25em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .post_vote_bad:after {
    content: 'плохо';
    margin-right: 0.5em;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    top: 0.1em;
    content: "➜";
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
    font-size: 1em;
    color: #d33d3d;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
    margin-left: 0.25em;
  }
  .post_footer a .post_vote_good:before {
    content: 'хорошо';
    margin-left: 0.15em;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    top: 0.1em;
    content: "➜";
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    margin-left: 0.15em;
    float: right;
    font-size: 1em;
    color: #078107;
  }
}
@media screen and (max-width: 480px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    text-align: center;
    position: relative;
    padding: 0.3em 0.6em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background: #222222;
    border-bottom: 1px solid #595959;
  }
  .post_footer a {
    display: table-block;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .insert_nick_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    width: 1.6em;
    margin-right: 0.15em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "–";
    font-size: 1.2em;
    font-weight: bold;
    color: #d33d3d;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    width: 1.6em;
    margin-left: 0.15em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #595959;
    font-weight: normal;
    text-align: center;
    color: #cccccc !important;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "+";
    font-size: 1.2em;
    font-weight: bold;
    color: #078107;
  }
}
.searchlite {
  color: #e65;
}
.href_button {
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-transform: lowercase;
  color: #7799dd;
  text-decoration: none;
  text-align: center;
  padding: 0.4em 0;
}
.href_button_disable {
  color: #4d4d4d;
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.4em 0;
}
.topic_title_post {
  margin: 0 0 -0.2rem;
  padding: 2em;
  text-align: center;
}
.topic_title_post a {
  color: #7799dd;
  text-decoration: none!important;
  line-height: 1.2;
}
.quotetop img {
  margin-top: auto;
  margin-bottom: auto;
}
.post_body > DIV > STRONG > SPAN.edit {
  text-align: left;
}
.edit {
  display: block;
  font-size: 0.9rem;
  color: #9c9c9c;
  text-align: right;
}
edit b {
  font-size: 0.95rem;
}
.edit * {
  font-size: 0.9rem;
  color: #9c9c9c;
}
.post-edit-reason {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #9c9c9c;
}
/*news*/
.container {
  margin: 0;
  display: block;
  margin: 0.3em;
  background: black;
  border: 1px solid #646464;
  padding: 0.3em;
  color: white;
}
.container .content {
  display: block;
  padding: 0.5em;
}
.container .content .content-box {
  margin: 0;
}
.container .content .content-box meta + p {
  display: block;
  background: #1f1f1f;
  padding: 0.4rem;
  margin: 1rem -0.2rem 0.5rem;
  border: 1px solid #434343;
}
.product-detail {
  display: block;
  border: 1px solid #7a7a7a;
  background: #222222;
  padding: 0 0.2em 0.5em;
}
.product-detail .photo {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.product-detail .photo img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.product-detail .photo .label {
  display: block;
  margin-top: -1.7em;
  opacity: 0.6;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background: black;
}
.product-detail .photo .label.orange {
  color: orange;
}
.product-detail .description h1 {
  text-align: center;
  font-size: 1.5em;
  color: #bdbdbd;
}
.product-detail .info-holder {
  display: block;
  text-align: center;
}
.product-detail .info-holder .date {
  padding: 0 0.5em;
}
.product-detail .more-box {
  position: relative;
  margin-top: 0.5em;
  text-align: center;
}
.product-detail .more-box .number {
  display: inline-block;
  padding: 0 1rem;
  margin: 0.7rem;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: #6b8ad6;
}
.product-detail .more-box .meta {
  display: block;
}
BLOCKQUOTE {
  border-left: 0.3em solid #4874ad;
  padding: 0 0 0 0.8rem;
  margin-left: 0.4rem;
}
BLOCKQUOTE H3 {
  text-align: left;
  color: #cccccc;
}
.review-bottom-informer {
  padding: 0 0.3em;
  background: black;
}
.review-bottom-informer .item {
  text-align: center;
  display: block;
  border: 1px solid #4d4d4d;
  margin: 0.3em 0;
  box-sizing: border-box;
  padding: 0.35em;
  background: #191919;
}
.review-bottom-informer .item .title {
  display: block;
  text-align: center;
  font-size: 2em;
}
.review-bottom-informer .item .desc br {
  display: none;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #bdbdbd;
}
.mlinks {
  display: block;
  border: 1px solid #4d4d4d;
  overflow: hidden;
}
.mlinks.desc {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #4d4d4d;
  overflow: hidden;
}
.mlinks.desc .mlhead {
  min-height: 4.6rem;
}
.mlinks.desc .mlright {
  border-radius: 0.3rem;
  background: #0d0d0d;
}
.mlinks.desc .mlright .do-vam div {
  display: block;
}
.mlinks.desc .mlright .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks.desc .mlright .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #333333;
  background: black;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #b3b3b3;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks.desc .mlscreenshots.mlbody .do-vam {
  border-top: none;
}
.mlinks .mlhead {
  border-radius: 0.3rem;
  background: #0d0d0d;
}
.mlinks .mlhead .do-vam div {
  display: block;
}
.mlinks .mlhead .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks .mlhead .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #333333;
  background: black;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #b3b3b3;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks .mlscreenshots.mlbody {
  display: block;
  padding: 0.5rem;
}
.mlinks .screenshots {
  overflow-x: auto;
}
.mlinks .screenshots .sc-btn.left,
.mlinks .screenshots .sc-btn.right {
  display: block ;
  height: 0.3rem;
  color: transparent;
}
.mlinks .screenshots .sc-content {
  list-style: none;
  white-space: nowrap;
  padding: 0 2.6rem;
}
.mlinks .screenshots .sc-content:before {
  content: '◀';
  font-size: 1.5rem;
  position: absolute;
  margin-left: -2.3rem;
  display: block;
  display: inline-block;
  background: #5588cc;
  opacity: 0.7;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 2rem;
  color: black;
}
.mlinks .screenshots .sc-content:before:hover {
  content: 'сделайте свайп влево по изображениям';
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  background: black;
  border: 2px solid #646464;
  color: white;
}
.mlinks .screenshots .sc-content a {
  display: inline;
  padding: 0.1rem;
  padding-right: 0.3rem;
  white-space: nowrap;
  zoom: 1;
}
.mlinks .screenshots .sc-content a img {
  display: inline-block;
  height: 10rem !important;
}
@font-face {
  font-family: 'fontello';
  src: url('material_src/fontello.eot?19600742');
  src: url('material_src/fontello.eot?19600742#iefix') format('embedded-opentype'), url('material_src/fontello.woff?19600742') format('woff'), url('material_src/fontello.ttf?19600742') format('truetype'), url('material_src/fontello.svg?19600742#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('forum/fonts/fontello/fontello.eot?66808348');
  src: url('forum/fonts/fontello/fontello.eot?66808348#iefix') format('embedded-opentype'), url('forum/fonts/fontello/fontello.woff?66808348') format('woff'), url('forum/fonts/fontello/fontello.ttf?66808348') format('truetype'), url('forum/fonts/fontello/fontello.svg?66808348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot");
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot") format('embedded-opentype'), url("file:///android_asset/forum/fonts/fontello/fontello.woff") format('woff'), url("file:///android_asset/forum/fonts/fontello/fontello.ttf") format('truetype'), url("file:///android_asset/forum/fonts/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
.icon-hash:before {
  content: '\23';
}
/* '#' */
.icon-karma-up:before {
  content: '\2b';
}
/* '+' */
.icon-hide-comment:before {
  content: '\2d';
}
/* '-' */
.icon-4PDA-plain:before {
  content: '\34';
}
/* '4' */
.icon-android:before {
  content: '\41';
}
/* 'A' */
.icon-comment-baloons:before {
  content: '\43';
}
/* 'C' */
.icon-engines:before {
  content: '\44';
}
/* 'D' */
.icon-pencil:before {
  content: '\45';
}
/* 'E' */
.icon-FB:before {
  content: '\46';
}
/* 'F' */
.icon-home:before {
  content: '\48';
}
/* 'H' */
.icon-apple:before {
  content: '\49';
}
/* 'I' */
.icon-rss:before {
  content: '\52';
}
/* 'R' */
.icon-search:before {
  content: '\53';
}
/* 'S' */
.icon-TWITTER:before {
  content: '\54';
}
/* 'T' */
.icon-VK:before {
  content: '\56';
}
/* 'V' */
.icon-windows:before {
  content: '\57';
}
/* 'W' */
.icon-close:hover:before {
  content: '\58';
}
/* 'X' */
.icon-YOUTUBE:before {
  content: '\59';
}
/* 'Y' */
.icon-up-open:before {
  content: '\5e';
}
/* '^' */
.icon-users:before {
  content: '\75';
}
/* 'u' */
.icon-link:before {
  content: '\bb';
}
/* '»' */
.icon-down-dir-1:before {
  content: '\1d65';
}
/* 'ᵥ' */
.icon-up-dir-1:before {
  content: '\1dba';
}
/* 'ᶺ' */
.icon-karma-down:before {
  content: '\2013';
}
/* '–' */
.icon-left-small:before {
  content: '\2039';
}
/* '‹' */
.icon-right-small:before {
  content: '\203a';
}
/* '›' */
.icon-4pda-logo:before {
  content: '\2163';
}
/* 'Ⅳ' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-back-up:before {
  content: '\21b5';
}
/* '↵' */
.icon-up-small:before {
  content: '\21d1';
}
/* '⇑' */
.icon-login:before {
  content: '\23ce';
}
/* '⏎' */
.icon-profile:before {
  content: '\263a';
}
/* '✓' */
/* '✔' */
.icon-glyph:before {
  content: '\272a';
}
/* '✪' */
.icon-cog:before {
  content: '\2731';
}
/* '✱' */
.icon-del:before {
  content: '\274e';
}
/* '❎' */
.icon-warning-empty:before {
  content: '\2755';
}
/* '❕' */
.icon-attention:before {
  content: '\2757';
}
/* '❗' */
.icon-chart-bar:before {
  content: '\2758';
}
/* '❘' */
.icon-chart-bar-1:before {
  content: '\2759';
}
/* '❙' */
.icon-glyph-1:before {
  content: '\275a';
}
/* '❚' */
.icon-quote-left:before {
  content: '\275d';
}
/* '❝' */
.icon-heart-1:before {
  content: '\2764';
}
/* '❤' */
.icon-heart:before {
  content: '\2765';
}
/* '❥' */
.icon-close:before {
  content: '\2a09';
}
/* '⨉' */
.icon-mlinks-home:before {
  content: '\e081';
}
/* '' */
.icon-edit:before {
  content: '\e80b';
}
/* '' */
.icon-users-1:before {
  content: '👥';
}
/* '\1f465' */
.icon-emo-happy:before {
  content: '😌';
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #7799dd;
}
.table4site {
  display: block;
  overflow: auto;
  border: 1px solid #4d4d4d;
  box-sizing: border-box;
  background: black;
  border-spacing: 0;
}
.table4site tbody {
  width: 100%;
}
.table4site tbody TR {
  margin: 0;
}
.table4site tbody TR:nth-child(2n) {
  background: #202020;
}
.table4site tbody TR:last-child {
  border-bottom: none;
}
.table4site tbody TR:last-child td {
  border-bottom: none;
}
.table4site tbody TR .links p {
  text-align: center;
  border-bottom: 1px solid #262626;
}
.table4site tbody TR .links p:last-child {
  border: none;
}
.table4site tbody TR .links p strong {
  diasplay: block;
}
.table4site tbody TR TD {
  margin: -0.2rem !important;
  box-sizing: border-box;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
.table4site tbody TR TD:last-child {
  border-right: none;
}
.table4site tbody TR TD IMG {
  display: block;
  width: 4rem;
  margin: 0 auto;
}
.table4site tbody TR TD P {
  display: block;
  padding: 0.4rem;
}
.materials-box {
  margin: 0;
}
.materials-box .box-title {
  margin: 0 0 -0.2rem;
  padding: 2em;
  text-align: center;
}
.materials-box .materials-slider {
  display: table-block;
  padding: 0;
  margin: 0;
  border-spacing: 0.7rem;
  overflow: auto;
}
.materials-box .materials-slider .slider-item {
  position: relative;
  display: table-cell;
  width: 25%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .materials-box .materials-slider .slider-item {
    width: 1px;
  }
  .materials-box .materials-slider .slider-item > a {
    width: 10rem;
  }
}
.materials-box .materials-slider .slider-item > a {
  display: block;
}
.materials-box .materials-slider .slider-item > a img {
  width: 100%;
  height: 75%;
}
.materials-box .materials-slider .slider-item h3 {
  display: block;
  margin: 0;
  padding: 0.3rem;
  vertical-align: middle;
}
.materials-box .materials-slider .slider-item h3 a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  font-weight: normal;
  color: white;
}
.page-nav.box {
  margin: 1rem 0.2rem 0;
  padding: 0;
  text-align: center;
}
.page-nav.box li {
  display: inline-block;
  width: 48%;
  margin: 0;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  color: #a7a7a7;
}
.page-nav.box li a {
  text-decoration: none;
}
.comment-box h2 {
  margin: 0 0 -0.2rem;
  padding: 2em;
  text-align: center;
}
#comments {
  font-size: 1rem;
  display: block;
  padding: 0.7em 0;
  position: relative;
  margin: 0.2em 1px 0.2em 0;
  font-weight: normal;
  color: white;
  text-align: left;
}
#comments li,
#comments ul {
  list-style-type: none;
  padding: 0;
  margin: 0.8em 2px 0.4em;
}
.comment-box li {
  border: 1px solid #646464;
  text-align: left;
  margin: 1em 0 0 0;
  word-wrap: break-word;
  background: black;
  -webkit-box-shadow: 1px 2px 6px #000000;
}
#comments li .heading {
  position: relative;
  display: block;
  margin: -1px 0 0 0;
  border-top: 0.2em solid #58c;
  border-bottom: 1px solid #646464;
  background: #222222;
  text-shadow: 0 0 0.2em black;
  padding: 0.2em 0;
}
.nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #58c !important;
  line-height: 1.4;
}
.h-meta {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #bdbdbd;
  float: right;
  margin-top: -0.2rem;
  margin-right: 0.2em;
  line-height: 1.4;
}
.h-meta .more-meta a {
  display: inline-block;
  width: 1.2rem;
}
#comments li p {
  padding: 0.6rem 0.4rem 0;
  margin: 0;
}
#comments a:nth-child(2) {
  position: relative;
  display: block;
  text-align: center;
  top: -0.5em;
}
#comments p ~ div {
  display: block;
  text-align: right;
  border-top: 1px solid #666666;
  margin: 0.5em 0.5em 0;
}
.video-thumb-wrapper {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.5rem;
  background-image: url(file:///android_asset/forum/style_images/play_video.png);
}
.video-thumb-wrapper .video-thumb {
  width: auto;
  height: auto;
  opacity: .5;
  margin: 0.5rem 0;
}
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}
