@charset "utf-8";
HTML {
  font-size: 1em;
}
HTML body {
  background: #FFF;
  color: #222;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 0.3em;
  word-wrap: break-word;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  overflow: auto;
}
@media screen and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media screen and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
.post-block.quote {
  margin: 0.3em 0;
  border-left: 4px solid #4373C3;
}
.post-block.quote > .block-title {
  display: block;
  background: #ddecff;
  background-image: url(file:///android_asset/forum/style_images/1/css_img_quote.gif);
  background-repeat: no-repeat;
  background-position: right;
  border-right: 1px dotted #4373C3;
  border-top: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  margin: 5px 0px 0px 0px;
  padding: 0.2em;
}
.post-block.quote > .block-body {
  background: #FAFCFE;
  border-right: 1px dotted #4373C3;
  border-bottom: 1px dotted #4373C3;
  color: #465584;
  padding: 0.3em;
  margin: 0px 0px 5px 0px;
  font-size: 100%;
}
.post-block.code {
  margin: 0.3em 0;
  border-left: 4px solid #ff6921;
}
.post-block.code > .block-title {
  background: #FDDBCC;
  background-image: url(file:///android_asset/forum/style_images/1/css_img_code.gif);
  background-repeat: no-repeat;
  background-position: right;
  color: #000;
  font-weight: bold;
  margin: 0px auto 0px auto;
  padding: 0.15em 0.2em;
  font-size: 100%;
  border-top: 1px dotted #000;
  border-right: 1px dotted #000;
}
.post-block.code > .block-body {
  background: #FAFCFE;
  color: #465584;
  font-family: Courier, "Courier New", Verdana, Arial;
  margin: 0px auto 0px auto;
  padding: 0.3em;
  font-sizep: 100%;
  border-right: 1px dotted #000;
  border-bottom: 1px dotted #000;
}
.post-block.hidden {
  margin: 0.3em 0;
  border-left: 4px solid #777;
}
.post-block.hidden > .block-title {
  background: #ddd;
  color: #000;
  font-weight: bold;
  margin: 0px auto 0px auto;
  padding: 0.3em;
  font-size: 100%;
  border-right: 1px dotted #000;
  border-top: 1px dotted #000;
}
.post-block.hidden > .block-body {
  background: #FAFCFE;
  border-right: 1px dotted #000;
  border-bottom: 1px dotted #000;
  color: #465584;
  padding: 0.3em;
  margin: 0px 0px 5px 0px;
  font-size: 100%;
}
.post-block.spoil {
  border-left: 4px solid #8394B2;
  margin: 0.3em 0;
}
.post-block.spoil > .block-title {
  background: #E4EAF2;
  border-right: 1px dotted #4373C3;
  border-top: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em;
  margin: 3px 0px;
}
.post-block.spoil > .block-body {
  background: #FAFCFE;
  border-right: 1px dotted #4373C3;
  border-bottom: 1px dotted #4373C3;
  color: #465584;
  padding: 0.3em;
  margin: 0 0 3px 0;
}
/*
*	ADM TAGS
*/
.cur {
  background: #00943b;
}
.mod {
  background: #6060ff;
}
.ex {
  background: #ff6060;
}
.cur,
.mod,
.ex {
  margin: 0.3em 0;
  border: 1px solid #aaa;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: white;
  width: 5rem;
  text-align: center;
  padding: 1.5rem 0;
  height: 100%;
  font-weight: bold;
  font-size: 3rem;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0.5em;
  height: 100%;
  margin: 0;
}
.cur > .block-body {
  background: #f9fff5;
}
.mod > .block-body {
  background: #f5f9ff;
}
.ex > .block-body {
  background: #fff9f5;
}
/*
	NAVIGATION PANEL
*/
#top_navi,
#bottom_navi {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  display: block;
  text-align: center;
  background: white;
}
#top_navi ~ br,
#bottom_navi ~ br {
  display: none;
}
#top_navi .first,
#bottom_navi .first,
#top_navi .prev,
#bottom_navi .prev,
#top_navi .page,
#bottom_navi .page,
#top_navi .next,
#bottom_navi .next,
#top_navi .last,
#bottom_navi .last {
  display: inline-block;
}
#top_navi .first .href_button,
#bottom_navi .first .href_button,
#top_navi .prev .href_button,
#bottom_navi .prev .href_button,
#top_navi .page .href_button,
#bottom_navi .page .href_button,
#top_navi .next .href_button,
#bottom_navi .next .href_button,
#top_navi .last .href_button,
#bottom_navi .last .href_button {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 1rem;
  text-decoration: none!important;
  background: #f1f7ff;
  border: 0.1rem solid #337;
}
#top_navi .first .href_button_disable,
#bottom_navi .first .href_button_disable,
#top_navi .prev .href_button_disable,
#bottom_navi .prev .href_button_disable,
#top_navi .page .href_button_disable,
#bottom_navi .page .href_button_disable,
#top_navi .next .href_button_disable,
#bottom_navi .next .href_button_disable,
#top_navi .last .href_button_disable,
#bottom_navi .last .href_button_disable {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 1rem;
  border: 0.1rem solid #bbb;
  color: #bbb;
  text-decoration: none!important;
  background: #fafafa;
}
/*
*	TOPIC_TITLE_POST
*/
.topic_title_post a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.3rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0.1em solid #4373c3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b9beb), color-stop(80%, #2787d7));
}
.topic_title_post a:before {
  content: '▶';
  position: relative;
  top: -0.15rem;
  font-size: 0.6rem;
  display: inline-block;
  margin-right: 0.2rem;
}
br + .topic_title_post {
  display: none;
}
/*
*	POLL
*/
@charset "utf-8";
HTML {
  font-size: 1em;
}
HTML body {
  background: #FFF;
  color: #222;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 0.3em;
  word-wrap: break-word;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  max-height: 10rem;
  overflow: auto;
}
@media screen and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media screen and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
.post-block.quote {
  margin: 0.3em 0;
  border-left: 4px solid #4373C3;
}
.post-block.quote > .block-title {
  display: block;
  background: #ddecff;
  background-image: url(file:///android_asset/forum/style_images/1/css_img_quote.gif);
  background-repeat: no-repeat;
  background-position: right;
  border-right: 1px dotted #4373C3;
  border-top: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  margin: 5px 0px 0px 0px;
  padding: 0.2em;
}
.post-block.quote > .block-body {
  background: #FAFCFE;
  border-right: 1px dotted #4373C3;
  border-bottom: 1px dotted #4373C3;
  color: #465584;
  padding: 0.3em;
  margin: 0px 0px 5px 0px;
  font-size: 100%;
}
.post-block.code {
  margin: 0.3em 0;
  border-left: 4px solid #ff6921;
}
.post-block.code > .block-title {
  background: #FDDBCC;
  background-image: url(file:///android_asset/forum/style_images/1/css_img_code.gif);
  background-repeat: no-repeat;
  background-position: right;
  color: #000;
  font-weight: bold;
  margin: 0px auto 0px auto;
  padding: 0.15em 0.2em;
  font-size: 100%;
  border-top: 1px dotted #000;
  border-right: 1px dotted #000;
}
.post-block.code > .block-body {
  background: #FAFCFE;
  color: #465584;
  font-family: Courier, "Courier New", Verdana, Arial;
  margin: 0px auto 0px auto;
  padding: 0.3em;
  font-sizep: 100%;
  border-right: 1px dotted #000;
  border-bottom: 1px dotted #000;
}
.post-block.hidden {
  margin: 0.3em 0;
  border-left: 4px solid #777;
}
.post-block.hidden > .block-title {
  background: #ddd;
  color: #000;
  font-weight: bold;
  margin: 0px auto 0px auto;
  padding: 0.3em;
  font-size: 100%;
  border-right: 1px dotted #000;
  border-top: 1px dotted #000;
}
.post-block.hidden > .block-body {
  background: #FAFCFE;
  border-right: 1px dotted #000;
  border-bottom: 1px dotted #000;
  color: #465584;
  padding: 0.3em;
  margin: 0px 0px 5px 0px;
  font-size: 100%;
}
.post-block.spoil {
  border-left: 4px solid #8394B2;
  margin: 0.3em 0;
}
.post-block.spoil > .block-title {
  background: #E4EAF2;
  border-right: 1px dotted #4373C3;
  border-top: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em;
  margin: 3px 0px;
}
.post-block.spoil > .block-body {
  background: #FAFCFE;
  border-right: 1px dotted #4373C3;
  border-bottom: 1px dotted #4373C3;
  color: #465584;
  padding: 0.3em;
  margin: 0 0 3px 0;
}
/*
*	ADM TAGS
*/
.cur {
  background: #00943b;
}
.mod {
  background: #6060ff;
}
.ex {
  background: #ff6060;
}
.cur,
.mod,
.ex {
  margin: 0.3em 0;
  border: 1px solid #aaa;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: white;
  width: 5rem;
  text-align: center;
  padding: 1.5rem 0;
  height: 100%;
  font-weight: bold;
  font-size: 3rem;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0.5em;
  height: 100%;
  margin: 0;
}
.cur > .block-body {
  background: #f9fff5;
}
.mod > .block-body {
  background: #f5f9ff;
}
.ex > .block-body {
  background: #fff9f5;
}
/*
	NAVIGATION PANEL
*/
#top_navi,
#bottom_navi {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  display: block;
  text-align: center;
  background: white;
}
#top_navi ~ br,
#bottom_navi ~ br {
  display: none;
}
#top_navi .first,
#bottom_navi .first,
#top_navi .prev,
#bottom_navi .prev,
#top_navi .page,
#bottom_navi .page,
#top_navi .next,
#bottom_navi .next,
#top_navi .last,
#bottom_navi .last {
  display: inline-block;
}
#top_navi .first .href_button,
#bottom_navi .first .href_button,
#top_navi .prev .href_button,
#bottom_navi .prev .href_button,
#top_navi .page .href_button,
#bottom_navi .page .href_button,
#top_navi .next .href_button,
#bottom_navi .next .href_button,
#top_navi .last .href_button,
#bottom_navi .last .href_button {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 1rem;
  text-decoration: none!important;
  background: #f1f7ff;
  border: 0.1rem solid #337;
}
#top_navi .first .href_button_disable,
#bottom_navi .first .href_button_disable,
#top_navi .prev .href_button_disable,
#bottom_navi .prev .href_button_disable,
#top_navi .page .href_button_disable,
#bottom_navi .page .href_button_disable,
#top_navi .next .href_button_disable,
#bottom_navi .next .href_button_disable,
#top_navi .last .href_button_disable,
#bottom_navi .last .href_button_disable {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 1rem;
  border: 0.1rem solid #bbb;
  color: #bbb;
  text-decoration: none!important;
  background: #fafafa;
}
/*
*	TOPIC_TITLE_POST
*/
.topic_title_post a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.3rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0.1em solid #4373c3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b9beb), color-stop(80%, #2787d7));
}
.topic_title_post a:before {
  content: '▶';
  position: relative;
  top: -0.15rem;
  font-size: 0.6rem;
  display: inline-block;
  margin-right: 0.2rem;
}
br + .topic_title_post {
  display: none;
}
/*
*	POLL
*/
.poll {
  margin: 0.2rem 0;
}
.poll .hidetop {
  background: #E4EAF2;
  border-right: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em;
  margin: 3px 0px;
  text-align: center;
  margin: 0 !important;
  height: 1.6rem;
  line-height: 1.6rem;
  border-top: 1px dotted #4373C3;
}
.poll .hidetop b {
  position: relative;
  font-size: 1.2rem;
}
.poll .hidetop b {
  position: relative;
  top: 0;
}
.poll .hidemain {
  padding: 0;
  margin: 1px 0 0 !important;
  overflow-x: auto;
}
.poll .hidemain form > .ipbtable {
  display: table-block;
  border-spacing: 0;
  width: 100%;
  background: #ddecff;
}
.poll .hidemain form > .ipbtable > tbody {
  border-spacing: 0;
}
.poll .hidemain form > .ipbtable > tbody > tr {
  display: block;
}
.poll .hidemain form > .ipbtable > tbody > tr:first-child {
  display: block;
  margin: 0;
  padding: 0.2rem;
  color: #2e4f86;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid #4373c3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2e8ff), color-stop(80%, #94caf4));
}
.poll .hidemain form > .ipbtable > tbody > tr td[align="center"] {
  display: block;
  padding: 0.3rem 0;
  margin: 0 !important;
  color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: #ddecff;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow {
  display: block;
  padding: 0.3rem 0;
  color: black;
  text-align: center;
  border-top: 1px solid #4373c3;
  background: #ddecff;
}
.poll .hidemain form > .ipbtable > tbody > tr .formbuttonrow .button {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #4373c3;
  background: #ebeff5;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 {
  display: block;
  border-top: 0.1rem solid white;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap {
  display: block;
  margin: 0.3rem 0;
  padding: 0;
  border: 1px solid #4373c3;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .row1 {
  display: block;
  color: black;
  padding: 0.4rem 0.5rem;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .ipbtable {
  width: 100%;
  background: #f0f7ff;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .ipbtable tbody tr .post2 {
  color: black;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .ipbtable tbody tr .post2 img {
  border: 1px solid #3b5377;
  height: 0 !important;
  padding: 0.35rem 0;
  margin-top: -0.2em;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #89b9ff), color-stop(25%, #4d7dcd), color-stop(80%, #75a5f5), color-stop(100%, #4373c3));
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .ipbtable tbody tr .post2 img:first-child,
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .ipbtable tbody tr .post2 img:last-child {
  display: none;
}
.poll .hidemain form > .ipbtable > tbody tr > .row1 > .borderwrap .ipbtable tbody tr .post2 .radiobutton ~ b {
  position: relative;
  top: 0.15rem;
}
/*
*	HIDETOP,
*	HIDEMAIN
*/
/*
*	POST HEADER CLI
*/
.post_header {
  display: block;
  text-decoration: none;
  margin-top: 0.2rem;
  min-height: 3.8rem;
  padding: 0;
  margin-bottom: 0;
  background: #ddecff;
}
.post_header[title*="Просмотреть репутацию"] {
  color: #000 !important;
  text-decoration: underline !important;
}
.post_header table tbody tr td .post_nick_cli a,
.post_header table tbody tr td .post_nick_online_cli a {
  position: relative;
  top: 0.7rem;
  margin-top: 0.8rem !important;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
}
.post_header table tbody tr td .post_nick_cli a {
  color: #777;
}
.post_header table tbody tr td .post_nick_online_cli a {
  color: green;
}
.post_header table tbody tr td div .post_date_cli {
  position: absolute;
  margin-top: -1.4rem;
  padding: 0 0.4rem;
  text-align: left;
  left: 0.3rem;
  right: 0.3rem;
  display: block;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #4d4d4d;
  background: #ddecff;
  border-bottom: 0.1rem solid white;
}
.post_header table tbody tr td div .post_date_cli a {
  float: right;
  color: #4d4d4d;
}
.post_header table tbody tr td .margin_left {
  display: inline-block;
  width: 4.4rem;
}
.post_header table tbody tr td .avatar_parent_container {
  position: absolute;
  display: table;
  width: 4rem;
  height: 4rem;
  margin: -0.9rem 0 0 -0.1rem;
}
.post_header table tbody tr td .avatar_parent_container .avatar_container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
}
.post_header table tbody tr td .avatar_parent_container .avatar_container IMG {
  display: block;
  margin: 0 auto;
  max-width: 3.8rem !important;
  max-height: 3.8rem !important;
}
.post_header table tbody tr td .user_group {
  display: inline-block;
  margin-top: 0.3rem;
  position: relative;
  font-size: 0.9rem;
  color: #4d4d4d;
}
.post_header table tbody tr td .system_link[onclick*="window.HTMLOUT.showRepMenu"] .post_date_cli {
  margin: 0;
  text-align: center;
  color: #4d4d4d;
}
.post_header table tbody tr td div[align*="right"] {
  display: block;
}
.post_header table tbody tr td div[align*="right"] .system_link[onclick*="window.HTMLOUT.showPostMenu"] {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #707070;
  font-weight: normal;
  text-align: center;
  border: 1px solid #32648E;
  color: #32648E !important;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  display: block;
  float: right;
  margin: 0 0.2rem 0.2rem 0;
}
/*
*	POST_HEADER BR
*/
.post_header_container + .post_body {
  background: white;
}
.post_header_container > .post_header {
  text-align: center;
  background: #C3DDFF;
}
.post_header_container > .post_header br {
  display: none;
}
.post_header_container > .post_header img {
  min-width: 1rem;
  vertical-align: middle;
  margin: 0;
}
.post_header_container > .post_header > a {
  text-decoration: none;
}
.post_header_container > .post_header .post_date {
  position: relative;
  display: block;
  color: #777;
}
.post_header_container > .post_header .post_date a {
  margin: 0;
  padding: 0.3rem;
  font-size: 1em;
  color: #000 !important;
}
.post_header_container > .post_header .post_nick {
  position: relative;
  display: block;
  text-align: center;
}
.post_header_container > .post_header .post_nick a {
  line-height: 1.4rem;
  font-size: 1.7rem !important;
  text-decoration: underline;
}
.post_header_container > .post_header .post_user_info {
  color: black;
}
.post_header_container > .post_header .post_user_info STRONG {
  display: block;
  color: black;
  line-height: 1.2;
}
.post_header_container > .post_header .post_user_info span + br {
  display: block;
}
.post_header_container > .post_header .post_user_info font {
  display: inline;
  font-size: 92% !important;
}
.post_header_container > .post_header .post_user_info a {
  color: #000 !important;
  text-decoration: underline !important;
}
.post_header_container > .post_header a[title="Просмотреть репутацию"] {
  text-decoration: underline !important;
  color: black;
}
.post_header_container > .post_header .post_action {
  display: block;
}
.post_header_container > .post_header .post_action a {
  text-decoration: none;
  color: #4373C3;
  font-weight: bold;
}
/*
*	HIDETOP,
*	HIDEMAIN
*/
.hidetop {
  background: #E4EAF2;
  border-right: 1px dotted #4373C3;
  border-top: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em;
  margin: 3px 0px;
  text-align: center;
}
.hidetop b {
  position: relative;
  font-size: 1.2rem;
}
.hidemain {
  background: #FAFCFE;
  padding: 0;
  margin: 0;
}
.hidemain .post-body {
  color: black !important;
}
/*
*	POST_BODY
*/
.post_body {
  display: block;
  padding: 0.8em 0.3em;
  margin: 0;
  word-wrap: break-word;
  text-align: left;
  border-top: 1px solid #ffffff;
  background: #f0f7ff;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  min-width: 0.6em;
  vertical-align: middle;
  margin-top: -0.3em;
}
.post_body ~ a {
  display: block;
  background: #4373C3;
  padding: 0.9em 0 0 0;
}
.post_body font {
  font-size: 0.9rem !important;
}
.post_body .edit {
  font-size: 85% !important;
  color: #333;
}
.post_body .post-edit-reason {
  font-size: 90%;
  margin-top: 0.5em;
  border: 1px solid #bdc2ce;
  background: #e6ebef;
  padding: 0.4em;
  color: #333;
  text-align: left;
}
/*
*	SEARCH
*/
.searchlite {
  color: #FF6A00;
}
.signature {
  text-align: left;
}
.s_post_footer {
  position: relative;
  font-size: 1rem;
  padding: 0.3em 0.6em;
  margin: 0;
  text-align: center;
  background: #C3DDFF !important;
  border-top: 1px #4373C3 solid;
}
/*
*	OTHER
*/
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: bottom;
}
img {
  height: auto;
  max-width: 100%;
}
.post_footer ~ br {
  display: none;
}
#viewers,
#writers {
  display: block;
  margin: 1rem 0;
  text-align: center;
}
#viewers .href_button,
#writers .href_button {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #707070;
  font-weight: normal;
  text-align: center;
  border: 1px solid #32648E;
  color: #32648E !important;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
}
#viewers + br,
#writers + br {
  display: none;
}
.between_messages {
  position: relative;
  background: #2982CB;
  padding: 0.9em 0 0 0;
  margin: 0.1em 0;
}
/*
 *	POST_FOOTER
*/
@media screen and (min-width: 481px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    position: relative;
    font-size: 1rem;
    padding: 0.3em 0.6em;
    margin: 0;
    text-align: center;
    background: #ddecff !important;
    border-top: 1px #4373C3 solid;
  }
  .post_footer:before {
    content: '';
    position: absolute;
    padding: 1rem 0;
    height: 0.7rem;
    margin-top: -0.6rem;
    left: 13.95rem;
    border-right: 0.1em solid white;
    padding: 0.9em 0;
  }
  .post_footer a {
    display: inline;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin-right: 0.25em;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9288), color-stop(1, #ce5f55));
    border: 1px solid #ac3d33;
    color: #fefbfb;
  }
  .post_footer a .post_vote_bad:after {
    content: 'плохо';
    margin-right: 0.5em;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    top: 0.1em;
    content: '➜';
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
    font-size: 1em;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9d388), color-stop(1, #76a055));
    border: 1px solid #547e33;
    color: #f1f6ed;
    margin-left: 0.25em;
  }
  .post_footer a .post_vote_good:before {
    content: 'хорошо';
    margin-left: 0.15em;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    top: 0.1em;
    content: '➜';
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    margin-left: 0.15em;
    float: right;
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    position: relative;
    font-size: 1rem;
    padding: 0.3em 0.6em;
    margin: 0;
    text-align: center;
    background: #ddecff !important;
    border-top: 1px #4373C3 solid;
  }
  .post_footer:before {
    content: '';
    position: absolute;
    padding: 1rem 0;
    height: 0.7rem;
    margin-top: -0.6rem;
    left: 13.95rem;
    border-right: 0.1em solid white;
    padding: 0.9em 0;
  }
  .post_footer a {
    display: inline;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .insert_nick_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    width: 1.6em;
    margin-right: 0.15em;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9288), color-stop(1, #ce5f55));
    border: 1px solid #ac3d33;
    color: #fefbfb;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "–";
    font-size: 1.2em;
    font-weight: bold;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    width: 1.6em;
    margin-left: 0.15em;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9d388), color-stop(1, #76a055));
    border: 1px solid #547e33;
    color: #f1f6ed;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "+";
    font-size: 1.2em;
    font-weight: bold;
  }
}
.post_footer:before {
  display: none !important;
}
/*
*	QMS
*/
#thread_form {
  margin: -54pt 0 0;
  padding: 54pt 0.2rem 5rem;
  background: #eee;
}
#thread_form a {
  color: #5555cc;
}
#thread_form .date {
  display: block;
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
}
#thread_form .date .text {
  position: relative;
  bottom: 1.4rem;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #999;
}
#thread_form .list-group-item {
  position: relative;
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}
#thread_form .list-group-item .check-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  z-index: 99;
}
#thread_form .list-group-item .check-item input {
  display: none;
}
#thread_form .list-group-item .check-item .checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.2s ease-in;
}
#thread_form .list-group-item .check-item .checkbox:before {
  position: absolute;
  display: inline-block;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  content: '✓';
  color: #ffffff;
  background: green;
  font-weight: bold;
  font-size: 1rem;
}
#thread_form .list-group-item .check-item input:checked + .checkbox {
  border-radius: 0.2rem;
  opacity: 1;
}
#thread_form .list-group-item .time {
  position: absolute;
  top: 0;
  left: 3rem;
  display: inline-block;
  font-size: 0.9rem;
  color: #999;
}
#thread_form .list-group-item .time .read-status.unread.big-dot {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: #b53;
}
#thread_form .list-group-item .avatar-wrap {
  float: left;
  display: inline-block;
  position: relative;
  width: 2.5rem;
  line-heigt: 2.5rem;
  height: 2.5rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  z-index: 50;
  text-align: center;
}
#thread_form .list-group-item .avatar-wrap .avatar {
  display: inline-block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin: auto;
  z-index: 40;
  border-radius: 0.15rem;
  overflow: hidden;
}
#thread_form .list-group-item strong {
  display: none;
  position: relative;
  padding-bottom: 1.2rem;
}
#thread_form .list-group-item strong span {
  color: #ffffff !important;
}
#thread_form .list-group-item .msg-content {
  display: inline-block;
  padding: 0.5rem;
  max-width: 380px;
  margin: 0;
  background: #ffffff;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
}
#thread_form .list-group-item.our-message {
  text-align: right;
  padding: 0;
}
#thread_form .list-group-item.our-message .check-item {
  left: auto;
  right: 0;
}
#thread_form .list-group-item.our-message .time {
  top: 0;
  right: 3rem;
}
#thread_form .list-group-item.our-message .time .read-status.unread.big-dot {
  float: right;
  top: 0.4rem;
  margin-left: 0.3rem;
}
#thread_form .list-group-item.our-message .avatar-wrap {
  float: right;
  margin-right: 0;
  margin-left: 0.3rem;
}
#thread_form .list-group-item.our-message strong {
  margin-left: 4.3rem;
  color: #ffffff;
}
#thread_form .list-group-item.our-message .msg-content {
  text-align: left;
  background: #e6e6e6;
}
#thread_form .list-group-item + .list-group-item {
  margin-top: 0.3rem;
}
#thread_form .list-group-item + .list-group-item .time {
  top: 0;
  left: 0;
}
#thread_form .list-group-item + .list-group-item .avatar-wrap {
  display: none;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message {
  margin-top: 0.3rem;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message .time {
  right: 0;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message .avatar-wrap {
  display: none;
}
#thread_form .list-group-item.our-message + .list-group-item {
  margin-top: 0.3rem;
}
#thread_form .list-group-item.our-message + .list-group-item .time {
  left: 3rem;
}
#thread_form .list-group-item.our-message + .list-group-item .avatar-wrap {
  display: inline-block;
}
#thread_form .list-group-item + .list-group-item.our-message {
  margin-top: 0.3rem;
}
#thread_form .list-group-item + .list-group-item.our-message .time {
  right: 3rem;
}
#thread_form .list-group-item + .list-group-item.our-message .avatar-wrap {
  display: inline-block;
}
/*
 *	NEWS
*/
#main {
  background: #eee;
  margin: -72pt -0.3rem;
  padding: 72pt 0;
}
#main a {
  color: black;
}
.container {
  margin: 0.5%;
  display: block;
  margin: 0.3em;
  background: #ffffff;
  border: 1px solid #9ba5b3;
  padding: 0.3em;
  color: black;
}
.container .content {
  display: block;
  padding: 0.5em;
}
.product-detail {
  display: table-block;
  background: #f2f2f2;
  width: 100%;
  height: auto;
}
.product-detail .photo {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}
.product-detail .photo img {
  display: block;
  width: 100% !important;
  height: auto;
}
.product-detail .photo .label {
  display: block;
  margin-top: -1.4em;
  opacity: 0.6;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  background: black;
}
.product-detail .photo .label.orange {
  color: orange !important;
}
.product-detail .description {
  display: table-cell;
  width: 60%;
  vertical-align: middle;
}
.product-detail .description h1 {
  text-align: center;
  font-size: 1.5em;
  color: #42474d;
}
.product-detail .info-holder {
  display: block;
  text-align: center;
}
.product-detail .info-holder .date {
  padding: 0 0.5em;
}
.product-detail .more-box {
  position: relative;
  margin-top: 0.5em;
  text-align: center;
}
.product-detail .more-box .number {
  display: inline-block;
  padding: 0 1rem;
  margin: 0.7rem;
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff !important;
  background: #55bbff;
}
.product-detail .more-box .meta {
  display: block;
}
BLOCKQUOTE {
  border-left: 0.3em solid #6f9ad4;
  padding: 0 0 0 0.8rem;
  margin-left: 0.4rem;
}
BLOCKQUOTE H3 {
  text-align: left;
  color: #333333;
}
.review-bottom-informer {
  padding: 0 0.3em;
  background: #ffffff;
}
.review-bottom-informer .item {
  text-align: center;
  display: block;
  border: 1px solid #b3b3b3;
  margin: 0.3em 0;
  box-sizing: border-box;
  padding: 0.35em;
  background: #e6e6e6;
}
.review-bottom-informer .item .title {
  display: block;
  text-align: center;
  font-size: 2em;
}
.review-bottom-informer .item .desc br {
  display: none;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #42474d;
}
.mlinks {
  display: block;
  border: 1px solid #b3b3b3;
  overflow: hidden;
}
.mlinks.desc {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #b3b3b3;
  overflow: hidden;
}
.mlinks.desc .mlhead {
  min-height: 4.6rem;
}
.mlinks.desc .mlright {
  border-radius: 0.3rem;
  background: #f2f2f2;
}
.mlinks.desc .mlright .do-vam div {
  display: block;
}
.mlinks.desc .mlright .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks.desc .mlright .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #ffffff;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #4d4d4d;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th a,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell a {
  color: #2982CB !important;
  text-decoration: none;
}
.mlinks.desc .mlscreenshots.mlbody .do-vam {
  border-top: none;
}
.mlinks .mlhead {
  border-radius: 0.3rem;
  background: #f2f2f2;
}
.mlinks .mlhead .do-vam div {
  display: block;
}
.mlinks .mlhead .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks .mlhead .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #ffffff;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #4d4d4d;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th a,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell a {
  color: #2982CB !important;
  text-decoration: none;
}
.mlinks .mlscreenshots.mlbody {
  display: block;
  padding: 0.5rem;
}
.mlinks .screenshots {
  overflow-x: auto;
}
.mlinks .screenshots .sc-btn.left,
.mlinks .screenshots .sc-btn.right {
  display: none ;
  height: 0.3rem;
  color: #ffffff;
}
.mlinks .screenshots .sc-content {
  list-style: none;
  white-space: nowrap;
  margin-top: 0.4rem;
  padding: 0 2.6rem;
}
.mlinks .screenshots .sc-content:before {
  content: '◀';
  font-size: 1.2rem;
  position: absolute;
  margin-left: -2.3rem;
  display: block;
  display: inline-block;
  background: #5588cc;
  opacity: 0.7;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 2rem;
  color: #ffffff;
}
.mlinks .screenshots .sc-content a {
  display: inline;
  padding: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
  zoom: 1;
}
.mlinks .screenshots .sc-content a img {
  display: inline-block;
  height: 10rem !important;
}
@font-face {
  font-family: 'fontello';
  src: url('material_src/fontello.eot?19600742');
  src: url('material_src/fontello.eot?19600742#iefix') format('embedded-opentype'), url('material_src/fontello.woff?19600742') format('woff'), url('material_src/fontello.ttf?19600742') format('truetype'), url('material_src/fontello.svg?19600742#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('forum/fonts/fontello/fontello.eot?66808348');
  src: url('forum/fonts/fontello/fontello.eot?66808348#iefix') format('embedded-opentype'), url('forum/fonts/fontello/fontello.woff?66808348') format('woff'), url('forum/fonts/fontello/fontello.ttf?66808348') format('truetype'), url('forum/fonts/fontello/fontello.svg?66808348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot");
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot") format('embedded-opentype'), url("file:///android_asset/forum/fonts/fontello/fontello.woff") format('woff'), url("file:///android_asset/forum/fonts/fontello/fontello.ttf") format('truetype'), url("file:///android_asset/forum/fonts/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
.icon-hash:before {
  content: '\23';
}
/* '#' */
.icon-karma-up:before {
  content: '\2b';
}
/* '+' */
.icon-hide-comment:before {
  content: '\2d';
}
/* '-' */
.icon-4PDA-plain:before {
  content: '\34';
}
/* '4' */
.icon-android:before {
  content: '\41';
}
/* 'A' */
.icon-comment-baloons:before {
  content: '\43';
}
/* 'C' */
.icon-engines:before {
  content: '\44';
}
/* 'D' */
.icon-pencil:before {
  content: '\45';
}
/* 'E' */
.icon-FB:before {
  content: '\46';
}
/* 'F' */
.icon-home:before {
  content: '\48';
}
/* 'H' */
.icon-apple:before {
  content: '\49';
}
/* 'I' */
.icon-rss:before {
  content: '\52';
}
/* 'R' */
.icon-search:before {
  content: '\53';
}
/* 'S' */
.icon-TWITTER:before {
  content: '\54';
}
/* 'T' */
.icon-VK:before {
  content: '\56';
}
/* 'V' */
.icon-windows:before {
  content: '\57';
}
/* 'W' */
.icon-close:hover:before {
  content: '\58';
}
/* 'X' */
.icon-YOUTUBE:before {
  content: '\59';
}
/* 'Y' */
.icon-up-open:before {
  content: '\5e';
}
/* '^' */
.icon-users:before {
  content: '\75';
}
/* 'u' */
.icon-link:before {
  content: '\bb';
}
/* '»' */
.icon-down-dir-1:before {
  content: '\1d65';
}
/* 'ᵥ' */
.icon-up-dir-1:before {
  content: '\1dba';
}
/* 'ᶺ' */
.icon-karma-down:before {
  content: '\2013';
}
/* '–' */
.icon-left-small:before {
  content: '\2039';
}
/* '‹' */
.icon-right-small:before {
  content: '\203a';
}
/* '›' */
.icon-4pda-logo:before {
  content: '\2163';
}
/* 'Ⅳ' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-back-up:before {
  content: '\21b5';
}
/* '↵' */
.icon-up-small:before {
  content: '\21d1';
}
/* '⇑' */
.icon-login:before {
  content: '\23ce';
}
/* '⏎' */
.icon-profile:before {
  content: '\263a';
}
/* '✓' */
/* '✔' */
.icon-glyph:before {
  content: '\272a';
}
/* '✪' */
.icon-cog:before {
  content: '\2731';
}
/* '✱' */
.icon-del:before {
  content: '\274e';
}
/* '❎' */
.icon-warning-empty:before {
  content: '\2755';
}
/* '❕' */
.icon-attention:before {
  content: '\2757';
}
/* '❗' */
.icon-chart-bar:before {
  content: '\2758';
}
/* '❘' */
.icon-chart-bar-1:before {
  content: '\2759';
}
/* '❙' */
.icon-glyph-1:before {
  content: '\275a';
}
/* '❚' */
.icon-quote-left:before {
  content: '\275d';
}
/* '❝' */
.icon-heart-1:before {
  content: '\2764';
}
/* '❤' */
.icon-heart:before {
  content: '\2765';
}
/* '❥' */
.icon-close:before {
  content: '\2a09';
}
/* '⨉' */
.icon-mlinks-home:before {
  content: '\e081';
}
/* '' */
.icon-edit:before {
  content: '\e80b';
}
/* '' */
.icon-users-1:before {
  content: '👥';
}
/* '\1f465' */
.icon-emo-happy:before {
  content: '😌';
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #2982CB;
}
.table4site {
  display: block;
  overflow-x: auto;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  background: #ffffff;
  border-spacing: 0;
}
.table4site tbody {
  width: 100%;
}
.table4site tbody TR {
  margin: 0;
}
.table4site tbody TR:nth-child(2n) {
  background: #f5f5f5;
}
.table4site tbody TR:last-child {
  border-bottom: none;
}
.table4site tbody TR:last-child td {
  border-bottom: none;
}
.table4site tbody TR .links p {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.table4site tbody TR .links p:last-child {
  border: none;
}
.table4site tbody TR .links p strong {
  diasplay: block;
}
.table4site tbody TR TD {
  margin: -0.2rem !important;
  box-sizing: border-box;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.table4site tbody TR TD:last-child {
  border-right: none;
}
.table4site tbody TR TD IMG {
  display: block;
  width: 4rem;
  margin: 0 auto;
}
.table4site tbody TR TD P {
  display: block;
  padding: 0.4rem;
}
.materials-box {
  margin: 2rem 0.3rem 0.5rem;
}
.materials-box .box-title {
  color: #555;
  font-aize: 1.5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border-bottom: 1px solid #b3b3b3;
  text-align: left;
}
.materials-box .materials-slider {
  display: table-block;
  padding: 0;
  margin: 0;
  border-spacing: 0.7rem;
  overflow-x: auto;
}
.materials-box .materials-slider .slider-item {
  position: relative;
  display: table-cell;
  width: 25%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .materials-box .materials-slider .slider-item {
    width: 1px;
  }
  .materials-box .materials-slider .slider-item > a {
    width: 10rem;
  }
}
.materials-box .materials-slider .slider-item > a {
  display: block;
}
.materials-box .materials-slider .slider-item > a img {
  width: 100%;
  height: 75%;
}
.materials-box .materials-slider .slider-item h3 {
  display: block;
  margin: 0;
  padding: 0.3rem;
  vertical-align: middle;
}
.materials-box .materials-slider .slider-item h3 a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
}
.page-nav.box {
  display: block;
  margin: 1rem 0.5%;
  padding: 0.6rem 0;
  text-align: center;
  border: 1px solid #bbb;
  background: white;
}
.page-nav.box li {
  display: inline-block;
  width: 48%;
  list-style-type: none;
}
.page-nav.box li a {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  text-transform: lowercase;
  color: #585e66;
  text-decoration: none;
}
.comment-box {
  font-size: 1rem;
  display: block;
  padding: 0 0.5rem 0.5rem 0;
  position: relative;
  margin: 0.2em 0.5%;
  font-weight: normal;
  color: #000;
  text-align: left;
  border: 1px solid #bbb;
  background: white;
}
.comment-box > .heading {
  display: block;
  padding: 0;
  margin-right: -0.5%;
  border-bottom: 1px solid #ccc;
}
.comment-box > .heading h2 {
  display: inline-block;
  color: #555;
  width: 49%;
  font-aize: 1.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.comment-box > .heading a {
  display: inline-block;
  width: 49%;
  text-align: right;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.comment-box li,
.comment-box ul {
  list-style-type: none;
  padding: 0 0 0 0.5rem;
  margin: 0;
}
.comment-box li {
  text-align: left;
  margin: 1.5em 0 0 0;
  word-wrap: break-word;
}
.comment-box li .heading {
  position: relative;
  display: block;
  margin: -1px 0 0 0;
  border-bottom: 1px #bbb solid;
  padding: 0.2em 0;
}
.comment-box li .heading .nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #222;
  line-height: 1.4;
}
.comment-box li .heading .h-meta {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #555;
  float: right;
  margin-top: 0;
  margin-right: 0.2em;
  line-height: 1.4;
}
.comment-box li .heading .h-meta a {
  display: inline-block;
  margin-right: 0.2rem;
  width: 1rem;
  height: 1rem;
}
.comment-box li p {
  padding: 0.5rem 0.3rem 0;
  margin: 0 0.2em;
}
.comment-box li p ~ div {
  display: block;
  text-align: left;
  margin: 0.3em 0.5rem 0.5rem;
}
.comment-box li p ~ div a {
  color: #55bbff !important;
  text-decoration: none;
}
@media screen and (orientation: portrait) {
  #main DIV.container > DIV.product-detail > DIV.photo {
    display: block;
    width: 100%;
  }
  .comment-box > .heading {
    padding-bottom: 1rem;
  }
  .comment-box > .heading h2,
  .comment-box > .heading a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .comment-box li,
  .comment-box ul {
    list-style-type: none;
    padding: 0 0 0 0.3rem;
    margin: 0;
  }
}
.post-block.spoil.open > .block-body {
  -webkit-animation: rainbow 0.2s 1 linear;
}
@-webkit-keyframes rainbow {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/*
*	HIDETOP,
*	HIDEMAIN
*/
/*
*	POST HEADER CLI
*/
.post_header {
  display: block;
  text-decoration: none;
  margin-top: 0.2rem;
  padding: 0;
  margin-bottom: 0;
  background: #ddecff;
}
.post_header[title*="Просмотреть репутацию"] {
  color: #000 !important;
  text-decoration: underline !important;
}
.post_header table tbody tr td .post_nick_cli a,
.post_header table tbody tr td .post_nick_online_cli a {
  position: relative;
  top: 0.7rem;
  margin-top: 0.8rem !important;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
}
.post_header table tbody tr td .post_nick_cli a {
  color: #777;
}
.post_header table tbody tr td .post_nick_online_cli a {
  color: green;
}
.post_header table tbody tr td div .post_date_cli {
  position: absolute;
  margin-top: -1.4rem;
  padding: 0 0.4rem;
  text-align: left;
  left: 0.3rem;
  right: 0.3rem;
  display: block;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #4d4d4d;
  background: #ddecff;
  border-bottom: 0.1rem solid white;
}
.post_header table tbody tr td div .post_date_cli a {
  float: right;
  color: #4d4d4d;
}
.post_header table tbody tr td .margin_left {
  display: inline-block;
  width: 4.4rem;
}
.post_header table tbody tr td .avatar_parent_container {
  position: absolute;
  display: table;
  width: 4rem;
  height: 4rem;
  margin: -0.9rem 0 0 -0.1rem;
}
.post_header table tbody tr td .avatar_parent_container .avatar_container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
}
.post_header table tbody tr td .avatar_parent_container .avatar_container IMG {
  display: block;
  margin: 0 auto;
  max-width: 3.8rem !important;
  max-height: 3.8rem !important;
}
.post_header table tbody tr td .user_group {
  display: inline-block;
  margin-top: 0.3rem;
  position: relative;
  font-size: 0.9rem;
  color: #4d4d4d;
}
.post_header table tbody tr td .system_link[onclick*="window.HTMLOUT.showRepMenu"] .post_date_cli {
  margin: 0;
  text-align: center;
  color: #4d4d4d;
}
.post_header table tbody tr td div[align*="right"] {
  display: block;
}
.post_header table tbody tr td div[align*="right"] .system_link[onclick*="window.HTMLOUT.showPostMenu"] {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #707070;
  font-weight: normal;
  text-align: center;
  border: 1px solid #32648E;
  color: #32648E !important;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  display: block;
  float: right;
  margin: 0 0.2rem 0.2rem 0;
}
/*
*	POST_HEADER BR
*/
.post_header_container + .post_body {
  background: white;
}
.post_header_container > .post_header {
  text-align: center;
  background: #C3DDFF;
}
.post_header_container > .post_header br {
  display: none;
}
.post_header_container > .post_header img {
  min-width: 1rem;
  vertical-align: middle;
  margin: 0;
}
.post_header_container > .post_header > a {
  text-decoration: none;
}
.post_header_container > .post_header .post_date {
  position: relative;
  display: block;
  color: #777;
}
.post_header_container > .post_header .post_date a {
  margin: 0;
  padding: 0.3rem;
  font-size: 1em;
  color: #000 !important;
}
.post_header_container > .post_header .post_nick {
  position: relative;
  display: block;
  text-align: center;
}
.post_header_container > .post_header .post_nick a {
  line-height: 1.4rem;
  font-size: 1.7rem !important;
  text-decoration: underline;
}
.post_header_container > .post_header .post_user_info {
  color: black;
}
.post_header_container > .post_header .post_user_info STRONG {
  display: block;
  color: black;
  line-height: 1.2;
}
.post_header_container > .post_header .post_user_info span + br {
  display: block;
}
.post_header_container > .post_header .post_user_info font {
  display: inline;
  font-size: 92% !important;
}
.post_header_container > .post_header .post_user_info a {
  color: #000 !important;
  text-decoration: underline !important;
}
.post_header_container > .post_header a[title="Просмотреть репутацию"] {
  text-decoration: underline !important;
  color: black;
}
.post_header_container > .post_header .post_action {
  display: block;
}
.post_header_container > .post_header .post_action a {
  text-decoration: none;
  color: #4373C3;
  font-weight: bold;
}
/*
*	HIDETOP,
*	HIDEMAIN
*/
.hidetop {
  background: #E4EAF2;
  border-right: 1px dotted #4373C3;
  border-top: 1px dotted #4373C3;
  color: #000;
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em;
  margin: 3px 0px;
  text-align: center;
}
.hidetop b {
  position: relative;
  font-size: 1.2rem;
}
.hidemain {
  background: #FAFCFE;
  padding: 0;
  margin: 0;
}
.hidemain .post-body {
  color: black !important;
}
/*
*	POST_BODY
*/
.post_body {
  display: block;
  padding: 0.8em 0.3em;
  margin: 0;
  word-wrap: break-word;
  text-align: left;
  border-top: 1px solid #ffffff;
  background: #f0f7ff;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  min-width: 0.6em;
  vertical-align: middle;
  margin-top: -0.3em;
}
.post_body ~ a {
  display: block;
  background: #4373C3;
  padding: 0.9em 0 0 0;
}
.post_body font {
  font-size: 0.9rem !important;
}
.post_body .edit {
  font-size: 85% !important;
  color: #333;
}
.post_body .post-edit-reason {
  font-size: 90%;
  margin-top: 0.5em;
  border: 1px solid #bdc2ce;
  background: #e6ebef;
  padding: 0.4em;
  color: #333;
  text-align: left;
}
/*
*	SEARCH
*/
.searchlite {
  color: #FF6A00;
}
.signature {
  background-color: #C3DDFF !important;
  border-top: 1px #4373C3 solid;
  padding: 0.4em;
  word-wrap: break-word;
  text-align: left;
}
.s_post_footer {
  position: relative;
  font-size: 1rem;
  padding: 0.3em 0.6em;
  margin: 0;
  text-align: center;
  background: #C3DDFF !important;
  border-top: 1px #4373C3 solid;
}
/*
*	OTHER
*/
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: bottom;
}
img {
  height: auto;
  max-width: 100%;
}
.post_footer ~ br {
  display: none;
}
#viewers,
#writers {
  display: block;
  margin: 1rem 0;
  text-align: center;
}
#viewers .href_button,
#writers .href_button {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-radius: 0.3em;
  border: 1px solid #707070;
  font-weight: normal;
  text-align: center;
  border: 1px solid #32648E;
  color: #32648E !important;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
}
#viewers + br,
#writers + br {
  display: none;
}
.between_messages {
  position: relative;
  background: #2982CB;
  padding: 0.9em 0 0 0;
  margin: 0.1em 0;
}
/*
 *	POST_FOOTER
*/
@media screen and (min-width: 481px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    position: relative;
    font-size: 1rem;
    padding: 0.3em 0.6em;
    margin: 0;
    text-align: center;
    background: #ddecff !important;
    border-top: 1px #4373C3 solid;
  }
  .post_footer:before {
    content: '';
    position: absolute;
    padding: 1rem 0;
    height: 0.7rem;
    margin-top: -0.6rem;
    left: 13.95rem;
    border-right: 0.1em solid white;
    padding: 0.9em 0;
  }
  .post_footer a {
    display: inline;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin-right: 0.25em;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9288), color-stop(1, #ce5f55));
    border: 1px solid #ac3d33;
    color: #fefbfb;
  }
  .post_footer a .post_vote_bad:after {
    content: 'плохо';
    margin-right: 0.5em;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    top: 0.1em;
    content: '➜';
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
    font-size: 1em;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9d388), color-stop(1, #76a055));
    border: 1px solid #547e33;
    color: #f1f6ed;
    margin-left: 0.25em;
  }
  .post_footer a .post_vote_good:before {
    content: 'хорошо';
    margin-left: 0.15em;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    top: 0.1em;
    content: '➜';
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    margin-left: 0.15em;
    float: right;
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    position: relative;
    font-size: 1rem;
    padding: 0.3em 0.6em;
    margin: 0;
    text-align: center;
    background: #ddecff !important;
    border-top: 1px #4373C3 solid;
  }
  .post_footer:before {
    content: '';
    position: absolute;
    padding: 1rem 0;
    height: 0.7rem;
    margin-top: -0.6rem;
    left: 13.95rem;
    border-right: 0.1em solid white;
    padding: 0.9em 0;
  }
  .post_footer a {
    display: inline;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .insert_nick_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-radius: 0.3em;
    border: 1px solid #707070;
    font-weight: normal;
    text-align: center;
    border: 1px solid #32648E;
    color: #32648E !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8ffff), color-stop(1, #a3b7d3));
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    width: 1.6em;
    margin-right: 0.15em;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9288), color-stop(1, #ce5f55));
    border: 1px solid #ac3d33;
    color: #fefbfb;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "–";
    font-size: 1.2em;
    font-weight: bold;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    width: 1.6em;
    margin-left: 0.15em;
    line-height: 1.3;
    margin: 0.1em 0 0;
    padding: 0 0.4em 0.1em;
    border-radius: 0.4em;
    border: 1px solid #707070;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9d388), color-stop(1, #76a055));
    border: 1px solid #547e33;
    color: #f1f6ed;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "+";
    font-size: 1.2em;
    font-weight: bold;
  }
}
.post_footer:before {
  display: none !important;
}
/*
*	QMS
*/
#thread_form {
  margin: -54pt 0 0;
  padding: 54pt 0.2rem 5rem;
  background: #eee;
}
#thread_form a {
  color: #5555cc;
}
#thread_form .date {
  display: block;
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
}
#thread_form .date .text {
  position: relative;
  bottom: 1.4rem;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #999;
}
#thread_form .list-group-item {
  position: relative;
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}
#thread_form .list-group-item .check-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  z-index: 99;
}
#thread_form .list-group-item .check-item input {
  display: none;
}
#thread_form .list-group-item .check-item .checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.2s ease-in;
}
#thread_form .list-group-item .check-item .checkbox:before {
  position: absolute;
  display: inline-block;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  content: '✓';
  color: #ffffff;
  background: green;
  font-weight: bold;
  font-size: 1rem;
}
#thread_form .list-group-item .check-item input:checked + .checkbox {
  border-radius: 0.2rem;
  opacity: 1;
}
#thread_form .list-group-item .time {
  position: absolute;
  top: 0;
  left: 3rem;
  display: inline-block;
  font-size: 0.9rem;
  color: #999;
}
#thread_form .list-group-item .time .read-status.unread.big-dot {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: #b53;
}
#thread_form .list-group-item .avatar-wrap {
  float: left;
  display: inline-block;
  position: relative;
  width: 2.5rem;
  line-heigt: 2.5rem;
  height: 2.5rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  z-index: 50;
  text-align: center;
}
#thread_form .list-group-item .avatar-wrap .avatar {
  display: inline-block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin: auto;
  z-index: 40;
  border-radius: 0.15rem;
  overflow: hidden;
}
#thread_form .list-group-item strong {
  display: none;
  position: relative;
  padding-bottom: 1.2rem;
}
#thread_form .list-group-item strong span {
  color: #ffffff !important;
}
#thread_form .list-group-item .msg-content {
  display: inline-block;
  padding: 0.5rem;
  max-width: 380px;
  margin: 0;
  background: #ffffff;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
}
#thread_form .list-group-item.our-message {
  text-align: right;
  padding: 0;
}
#thread_form .list-group-item.our-message .check-item {
  left: auto;
  right: 0;
}
#thread_form .list-group-item.our-message .time {
  top: 0;
  right: 3rem;
}
#thread_form .list-group-item.our-message .time .read-status.unread.big-dot {
  float: right;
  top: 0.4rem;
  margin-left: 0.3rem;
}
#thread_form .list-group-item.our-message .avatar-wrap {
  float: right;
  margin-right: 0;
  margin-left: 0.3rem;
}
#thread_form .list-group-item.our-message strong {
  margin-left: 4.3rem;
  color: #ffffff;
}
#thread_form .list-group-item.our-message .msg-content {
  text-align: left;
  background: #e6e6e6;
}
#thread_form .list-group-item + .list-group-item {
  margin-top: 0.3rem;
}
#thread_form .list-group-item + .list-group-item .time {
  top: 0;
  left: 0;
}
#thread_form .list-group-item + .list-group-item .avatar-wrap {
  display: none;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message {
  margin-top: 0.3rem;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message .time {
  right: 0;
}
#thread_form .list-group-item.our-message + .list-group-item.our-message .avatar-wrap {
  display: none;
}
#thread_form .list-group-item.our-message + .list-group-item {
  margin-top: 0.3rem;
}
#thread_form .list-group-item.our-message + .list-group-item .time {
  left: 3rem;
}
#thread_form .list-group-item.our-message + .list-group-item .avatar-wrap {
  display: inline-block;
}
#thread_form .list-group-item + .list-group-item.our-message {
  margin-top: 0.3rem;
}
#thread_form .list-group-item + .list-group-item.our-message .time {
  right: 3rem;
}
#thread_form .list-group-item + .list-group-item.our-message .avatar-wrap {
  display: inline-block;
}
/*
 *	NEWS
*/
#main {
  background: #eee;
  margin: -72pt -0.3rem;
  padding: 72pt 0;
}
#main a {
  color: black;
}
.container {
  margin: 0.5%;
  display: block;
  margin: 0.3em;
  background: #ffffff;
  border: 1px solid #9ba5b3;
  padding: 0.3em;
  color: black;
}
.container .content {
  display: block;
  padding: 0.5em;
}
.product-detail {
  display: table-block;
  background: #f2f2f2;
  width: 100%;
  height: auto;
}
.product-detail .photo {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}
.product-detail .photo img {
  display: block;
  width: 100% !important;
  height: auto;
}
.product-detail .photo .label {
  display: block;
  margin-top: -1.4em;
  opacity: 0.6;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  background: black;
}
.product-detail .photo .label.orange {
  color: orange !important;
}
.product-detail .description {
  display: table-cell;
  width: 60%;
  vertical-align: middle;
}
.product-detail .description h1 {
  text-align: center;
  font-size: 1.5em;
  color: #42474d;
}
.product-detail .info-holder {
  display: block;
  text-align: center;
}
.product-detail .info-holder .date {
  padding: 0 0.5em;
}
.product-detail .more-box {
  position: relative;
  margin-top: 0.5em;
  text-align: center;
}
.product-detail .more-box .number {
  display: inline-block;
  padding: 0 1rem;
  margin: 0.7rem;
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff !important;
  background: #55bbff;
}
.product-detail .more-box .meta {
  display: block;
}
BLOCKQUOTE {
  border-left: 0.3em solid #6f9ad4;
  padding: 0 0 0 0.8rem;
  margin-left: 0.4rem;
}
BLOCKQUOTE H3 {
  text-align: left;
  color: #333333;
}
.review-bottom-informer {
  padding: 0 0.3em;
  background: #ffffff;
}
.review-bottom-informer .item {
  text-align: center;
  display: block;
  border: 1px solid #b3b3b3;
  margin: 0.3em 0;
  box-sizing: border-box;
  padding: 0.35em;
  background: #e6e6e6;
}
.review-bottom-informer .item .title {
  display: block;
  text-align: center;
  font-size: 2em;
}
.review-bottom-informer .item .desc br {
  display: none;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #42474d;
}
.mlinks {
  display: block;
  border: 1px solid #b3b3b3;
  overflow: hidden;
}
.mlinks.desc {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #b3b3b3;
  overflow: hidden;
}
.mlinks.desc .mlhead {
  min-height: 4.6rem;
}
.mlinks.desc .mlright {
  border-radius: 0.3rem;
  background: #f2f2f2;
}
.mlinks.desc .mlright .do-vam div {
  display: block;
}
.mlinks.desc .mlright .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks.desc .mlright .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #ffffff;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #4d4d4d;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell.th a,
.mlinks.desc .mlright .do-vam div .mltbl.platforms .mlrow .mlcell a {
  color: #2982CB !important;
  text-decoration: none;
}
.mlinks.desc .mlscreenshots.mlbody .do-vam {
  border-top: none;
}
.mlinks .mlhead {
  border-radius: 0.3rem;
  background: #f2f2f2;
}
.mlinks .mlhead .do-vam div {
  display: block;
}
.mlinks .mlhead .do-vam div .mlicon {
  display: block;
  width: 4rem;
  float: left;
  margin: 0.3rem;
}
.mlinks .mlhead .do-vam div .mltitle {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mlauthor {
  display: block;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
.mlinks .mlhead .do-vam div .mltbl.platforms {
  display: table;
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #ffffff;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
  border-spacing: 0;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th {
  border-right: none !important;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #4d4d4d;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 34%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:first-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:first-child {
  width: 10%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:nth-child(3),
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:nth-child(3) {
  width: 22%;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th:last-child,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell:last-child {
  border-right: none;
}
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell.th a,
.mlinks .mlhead .do-vam div .mltbl.platforms .mlrow .mlcell a {
  color: #2982CB !important;
  text-decoration: none;
}
.mlinks .mlscreenshots.mlbody {
  display: block;
  padding: 0.5rem;
}
.mlinks .screenshots {
  overflow-x: auto;
}
.mlinks .screenshots .sc-btn.left,
.mlinks .screenshots .sc-btn.right {
  display: none ;
  height: 0.3rem;
  color: #ffffff;
}
.mlinks .screenshots .sc-content {
  list-style: none;
  white-space: nowrap;
  margin-top: 0.4rem;
  padding: 0 2.6rem;
}
.mlinks .screenshots .sc-content:before {
  content: '◀';
  font-size: 1.2rem;
  position: absolute;
  margin-left: -2.3rem;
  display: block;
  display: inline-block;
  background: #5588cc;
  opacity: 0.7;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 2rem;
  color: #ffffff;
}
.mlinks .screenshots .sc-content a {
  display: inline;
  padding: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
  zoom: 1;
}
.mlinks .screenshots .sc-content a img {
  display: inline-block;
  height: 10rem !important;
}
@font-face {
  font-family: 'fontello';
  src: url('material_src/fontello.eot?19600742');
  src: url('material_src/fontello.eot?19600742#iefix') format('embedded-opentype'), url('material_src/fontello.woff?19600742') format('woff'), url('material_src/fontello.ttf?19600742') format('truetype'), url('material_src/fontello.svg?19600742#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('forum/fonts/fontello/fontello.eot?66808348');
  src: url('forum/fonts/fontello/fontello.eot?66808348#iefix') format('embedded-opentype'), url('forum/fonts/fontello/fontello.woff?66808348') format('woff'), url('forum/fonts/fontello/fontello.ttf?66808348') format('truetype'), url('forum/fonts/fontello/fontello.svg?66808348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot");
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot") format('embedded-opentype'), url("file:///android_asset/forum/fonts/fontello/fontello.woff") format('woff'), url("file:///android_asset/forum/fonts/fontello/fontello.ttf") format('truetype'), url("file:///android_asset/forum/fonts/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
.icon-hash:before {
  content: '\23';
}
/* '#' */
.icon-karma-up:before {
  content: '\2b';
}
/* '+' */
.icon-hide-comment:before {
  content: '\2d';
}
/* '-' */
.icon-4PDA-plain:before {
  content: '\34';
}
/* '4' */
.icon-android:before {
  content: '\41';
}
/* 'A' */
.icon-comment-baloons:before {
  content: '\43';
}
/* 'C' */
.icon-engines:before {
  content: '\44';
}
/* 'D' */
.icon-pencil:before {
  content: '\45';
}
/* 'E' */
.icon-FB:before {
  content: '\46';
}
/* 'F' */
.icon-home:before {
  content: '\48';
}
/* 'H' */
.icon-apple:before {
  content: '\49';
}
/* 'I' */
.icon-rss:before {
  content: '\52';
}
/* 'R' */
.icon-search:before {
  content: '\53';
}
/* 'S' */
.icon-TWITTER:before {
  content: '\54';
}
/* 'T' */
.icon-VK:before {
  content: '\56';
}
/* 'V' */
.icon-windows:before {
  content: '\57';
}
/* 'W' */
.icon-close:hover:before {
  content: '\58';
}
/* 'X' */
.icon-YOUTUBE:before {
  content: '\59';
}
/* 'Y' */
.icon-up-open:before {
  content: '\5e';
}
/* '^' */
.icon-users:before {
  content: '\75';
}
/* 'u' */
.icon-link:before {
  content: '\bb';
}
/* '»' */
.icon-down-dir-1:before {
  content: '\1d65';
}
/* 'ᵥ' */
.icon-up-dir-1:before {
  content: '\1dba';
}
/* 'ᶺ' */
.icon-karma-down:before {
  content: '\2013';
}
/* '–' */
.icon-left-small:before {
  content: '\2039';
}
/* '‹' */
.icon-right-small:before {
  content: '\203a';
}
/* '›' */
.icon-4pda-logo:before {
  content: '\2163';
}
/* 'Ⅳ' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-back-up:before {
  content: '\21b5';
}
/* '↵' */
.icon-up-small:before {
  content: '\21d1';
}
/* '⇑' */
.icon-login:before {
  content: '\23ce';
}
/* '⏎' */
.icon-profile:before {
  content: '\263a';
}
/* '✓' */
/* '✔' */
.icon-glyph:before {
  content: '\272a';
}
/* '✪' */
.icon-cog:before {
  content: '\2731';
}
/* '✱' */
.icon-del:before {
  content: '\274e';
}
/* '❎' */
.icon-warning-empty:before {
  content: '\2755';
}
/* '❕' */
.icon-attention:before {
  content: '\2757';
}
/* '❗' */
.icon-chart-bar:before {
  content: '\2758';
}
/* '❘' */
.icon-chart-bar-1:before {
  content: '\2759';
}
/* '❙' */
.icon-glyph-1:before {
  content: '\275a';
}
/* '❚' */
.icon-quote-left:before {
  content: '\275d';
}
/* '❝' */
.icon-heart-1:before {
  content: '\2764';
}
/* '❤' */
.icon-heart:before {
  content: '\2765';
}
/* '❥' */
.icon-close:before {
  content: '\2a09';
}
/* '⨉' */
.icon-mlinks-home:before {
  content: '\e081';
}
/* '' */
.icon-edit:before {
  content: '\e80b';
}
/* '' */
.icon-users-1:before {
  content: '👥';
}
/* '\1f465' */
.icon-emo-happy:before {
  content: '😌';
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #2982CB;
}
.table4site {
  display: block;
  overflow-x: auto;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  background: #ffffff;
  border-spacing: 0;
}
.table4site tbody {
  width: 100%;
}
.table4site tbody TR {
  margin: 0;
}
.table4site tbody TR:nth-child(2n) {
  background: #f5f5f5;
}
.table4site tbody TR:last-child {
  border-bottom: none;
}
.table4site tbody TR:last-child td {
  border-bottom: none;
}
.table4site tbody TR .links p {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.table4site tbody TR .links p:last-child {
  border: none;
}
.table4site tbody TR .links p strong {
  diasplay: block;
}
.table4site tbody TR TD {
  margin: -0.2rem !important;
  box-sizing: border-box;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.table4site tbody TR TD:last-child {
  border-right: none;
}
.table4site tbody TR TD IMG {
  display: block;
  width: 4rem;
  margin: 0 auto;
}
.table4site tbody TR TD P {
  display: block;
  padding: 0.4rem;
}
.materials-box {
  margin: 2rem 0.3rem 0.5rem;
}
.materials-box .box-title {
  color: #555;
  font-aize: 1.5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border-bottom: 1px solid #b3b3b3;
  text-align: left;
}
.materials-box .materials-slider {
  display: table-block;
  padding: 0;
  margin: 0;
  border-spacing: 0.7rem;
  overflow-x: auto;
}
.materials-box .materials-slider .slider-item {
  position: relative;
  display: table-cell;
  width: 25%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .materials-box .materials-slider .slider-item {
    width: 1px;
  }
  .materials-box .materials-slider .slider-item > a {
    width: 10rem;
  }
}
.materials-box .materials-slider .slider-item > a {
  display: block;
}
.materials-box .materials-slider .slider-item > a img {
  width: 100%;
  height: 75%;
}
.materials-box .materials-slider .slider-item h3 {
  display: block;
  margin: 0;
  padding: 0.3rem;
  vertical-align: middle;
}
.materials-box .materials-slider .slider-item h3 a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
}
.page-nav.box {
  display: block;
  margin: 1rem 0.5%;
  padding: 0.6rem 0;
  text-align: center;
  border: 1px solid #bbb;
  background: white;
}
.page-nav.box li {
  display: inline-block;
  width: 48%;
  list-style-type: none;
}
.page-nav.box li a {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  text-transform: lowercase;
  color: #585e66;
  text-decoration: none;
}
.comment-box {
  font-size: 1rem;
  display: block;
  padding: 0 0.5rem 0.5rem 0;
  position: relative;
  margin: 0.2em 0.5%;
  font-weight: normal;
  color: #000;
  text-align: left;
  border: 1px solid #bbb;
  background: white;
}
.comment-box > .heading {
  display: block;
  padding: 0;
  margin-right: -0.5%;
  border-bottom: 1px solid #ccc;
}
.comment-box > .heading h2 {
  display: inline-block;
  color: #555;
  width: 49%;
  font-aize: 1.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.comment-box > .heading a {
  display: inline-block;
  width: 49%;
  text-align: right;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.comment-box li,
.comment-box ul {
  list-style-type: none;
  padding: 0 0 0 0.5rem;
  margin: 0;
}
.comment-box li {
  text-align: left;
  margin: 1.5em 0 0 0;
  word-wrap: break-word;
}
.comment-box li .heading {
  position: relative;
  display: block;
  margin: -1px 0 0 0;
  border-bottom: 1px #bbb solid;
  padding: 0.2em 0;
}
.comment-box li .heading .nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #222;
  line-height: 1.4;
}
.comment-box li .heading .h-meta {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #555;
  float: right;
  margin-top: 0;
  margin-right: 0.2em;
  line-height: 1.4;
}
.comment-box li .heading .h-meta a {
  display: inline-block;
  margin-right: 0.2rem;
  width: 1rem;
  height: 1rem;
}
.comment-box li p {
  padding: 0.5rem 0.3rem 0;
  margin: 0 0.2em;
}
.comment-box li p ~ div {
  display: block;
  text-align: left;
  margin: 0.3em 0.5rem 0.5rem;
}
.comment-box li p ~ div a {
  color: #55bbff !important;
  text-decoration: none;
}
@media screen and (orientation: portrait) {
  #main DIV.container > DIV.product-detail > DIV.photo {
    display: block;
    width: 100%;
  }
  .comment-box > .heading {
    padding-bottom: 1rem;
  }
  .comment-box > .heading h2,
  .comment-box > .heading a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .comment-box li,
  .comment-box ul {
    list-style-type: none;
    padding: 0 0 0 0.3rem;
    margin: 0;
  }
}
.post-block.spoil.open > .block-body {
  -webkit-animation: rainbow 0.2s 1 linear;
}
@-webkit-keyframes rainbow {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
